body {background:white;/*background: #0A4D93 url(img/bg.png) repeat-x scroll 0 0;*/}

.imgBorder {border: 1px solid #c8c8c8;}

a, .link {text-decoration:none; color: #03337b; cursor: pointer; border: 0;}
.link_color {color: #03337b;}
.gray_color {color: gray}
a:hover, .link:hover {text-decoration: underline;}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
ul {list-style: none;}

#KZA {padding-top: 16px;}


.biznesColor {color: #ae0405}

.emptyCategory {font-size: 16px; font-weight: bold; text-align: center; padding: 30px;}

.pngFix {}
.isRollUp {}
.isRollDown {}

.ico {height: 36px;}
.ico a {padding-left: 36px; display: block; text-decoration: underline;}
.ico span {padding-left: 36px; display: block;}
.ico h2.box_title {border: 0; background: transparent;}
#talks_about_health .box_title {background: white url(img/icons2.png) no-repeat 0 -1100px; height: 36px; line-height: 36px; padding-left: 40px;}
#test_results .box_title {background: white url(img/icons2.png) no-repeat 0 -100px; height: 36px; line-height: 36px; padding-left: 40px;}
.ico1 {background: white url(img/icons2.png) no-repeat 0 0;}
.ico2 {background: white url(img/icons2.png) no-repeat 0 -100px;}
.ico3 {background: white url(img/icons2.png) no-repeat 0 -200px;}
.ico4 {background: white url(img/icons2.png) no-repeat 0 -300px;}
.ico7 {background: white url(img/icons2.png) no-repeat 0 -600px;}
td.ico1 {background: white url(img/icons2.png) no-repeat 0 0;}
td.ico2 {background: white url(img/icons2.png) no-repeat 0 -100px;}
td.ico3 {background: white url(img/icons2.png) no-repeat 0 -200px;}
td.ico4 {background: white url(img/icons2.png) no-repeat 0 -300px;}
td.ico5 {background: white url(img/icons2.png) no-repeat 0 -400px;}
td.ico6 {background: white url(img/icons2.png) no-repeat 0 -500px;}
td.ico7 {background: white url(img/icons2.png) no-repeat 0 -600px;}
td.ico8 {background: white url(img/icons2.png) no-repeat 0 -700px;}
td.ico9 {background: white url(img/icons2.png) no-repeat 0 -800px;}
td.ico10 {background: white url(img/icons2.png) no-repeat 0 -900px;}
td.ico11 {background: white url(img/icons2.png) no-repeat 0 -1000px;}
td.ico12 {background: white url(img/icons2.png) no-repeat 0 -1100px;}
td.ico13 {background: white url(img/icons2.png) no-repeat 0 -1200px;}
td.ico14 {background: white url(img/icons2.png) no-repeat 0 -1300px;}
td.ico15 {background: white url(img/icons2.png) no-repeat 0 -1400px;}
td.ico16 {background: white url(img/icons2.png) no-repeat 0 -1500px;}
td.ico17 {background: white url(img/icons2.png) no-repeat 0 -1600px;}
td.ico18 {background: white url(img/icons2.png) no-repeat 0 -1700px;}
td.ico19 {background: white url(img/icons2.png) no-repeat 0 -1800px;}
td.ico20 {background: white url(img/icons2.png) no-repeat 0 -1900px;}
td.ico21 {background: white url(img/icons2.png) no-repeat 0 -2000px;}
td.ico22 {background: white url(img/icons2.png) no-repeat 0 -2100px;}
td.ico23 {background: white url(img/icons2.png) no-repeat 0 -2200px;}
td.ico24 {background: white url(img/icons2.png) no-repeat 0 -2300px;}
td.ico25 {background: white url(img/icons2.png) no-repeat 0 -2400px;}
td.ico26 {background: white url(img/icons2.png) no-repeat 0 -2500px;}
td.ico27 {background: white url(img/icons2.png) no-repeat 0 -2600px;}
td.ico28 {background: white url(img/icons2.png) no-repeat 0 -2700px;}
td.ico29 {background: white url(img/icons2.png) no-repeat 0 -2800px;}
td.ico30 {background: white url(img/icons2.png) no-repeat 0 -2900px;}
td.ico31 {background: white url(img/icons2.png) no-repeat 0 -3000px;}
td.ico32 {background: white url(img/icons2.png) no-repeat 0 -3100px;}
td.ico33 {background: white url(img/icons2.png) no-repeat 0 -3200px;}
td.ico34 {background: white url(img/icons2.png) no-repeat 0 -3300px;}
td.ico35 {background: white url(img/icons2.png) no-repeat 0 -3400px;}
td.ico36 {background: white url(img/icons2.png) no-repeat 0 -3500px;}

a.ico1 {background: white url(img/icons2.png) no-repeat 0 0px; line-height: 31px; padding-left: 40px; display: block; float: left; text-decoration: underline;width:125px;}
a.ico2 {background: url(img/icons2.png) no-repeat scroll 0 -103px white; line-height: 31px; padding-left: 40px; display: block; float: left; text-decoration: underline;}

a.ico5 {background: white url(img/icons2.png) no-repeat 0 -398px; line-height: 30px; padding-left: 40px; display: block; float: left; text-decoration: underline;}
a.ico6 {background: white url(img/icons2.png) no-repeat 0 -495px; line-height: 36px; padding-left: 40px; display: block; float: left; text-decoration: underline;}
a.ico7 {width:125px;background: white url(img/icons2.png) no-repeat 0 -595px; line-height: 36px; padding-left: 40px; display: block; float: left; text-decoration: underline;}
a.ico8 {background: white url(img/icons2.png) no-repeat 0 -695px; line-height: 36px; padding-left: 40px; display: block; float: left; text-decoration: underline;}

.profilRCBox {border-top:1px solid #2066AE;width:100%;}

#advicesCount {font-size:11px;font-weight:bold;width:286px;margin:0 auto 8px;height:25px;}
ul.counter li {background: url("http://poland.lh/subd-g/p/poland.lh/_i/sg_v3/ico-counter.png") no-repeat scroll 100% 0 transparent;color: black;float: left;height: 24px;line-height: 23px;margin-left: 2px;width: 18px; font-size:13px;text-align:center;}


.emphasis_link {background: #d9dee2; padding: 2px; text-align: center; display: block; color: #2066AE}

/* to co bezposrednio ponizej musi juz zostac */
/*#header_body {background: transparent url(img/logo.png) no-repeat 10px 8px; padding: 5px 8px 5px 13px; margin: 2px 0 0 0;}*/
div#wortalLogo
{
	display: block;
	width: 305px;
	height: 67px;
	float: left;
}
div#wortalLogo a
{
	display: block;
	width: 305px;
	height: 67px;
	background: url('http://poland.lh/subd-g/p/poland.lh/_i/logo_zdrowie.png') no-repeat 0px 0px;
	text-indent: -9999em;
}

div#wortalLogo a#wortalLogoDirectLink
{
	display: block;
    height: 22px;
    left: 202px;
    position: relative;
    top: -65px;
    width: 102px;
    z-index: 9999;
	background: none !important;
}

#header_body .wortal_link {width: 254px;}
#header_body .wieszjak_link {width: 280px;}

#fwj table.grupy_tematyczne th {background: white url(http://poland.lh/subd-g/p/poland.lh/zdrowie/grupy_tematyczne.gif) no-repeat 0 -22px;}
#fwj table.grupy_tematyczne td {background: white url(http://poland.lh/subd-g/p/poland.lh/zdrowie/grupy_tematyczne.gif) no-repeat 0 -62px;}
#fwj table.grupy_tematyczne .gray th {background: #ebebeb url(http://poland.lh/subd-g/p/poland.lh/zdrowie/grupy_tematyczne.gif) no-repeat 0 -1px;} 
#fwj table.grupy_tematyczne .gray td {background: #ebebeb url(http://poland.lh/subd-g/p/poland.lh/zdrowie/grupy_tematyczne.gif) no-repeat 0 -41px;}
table.letters td {background: white url(http://poland.lh/subd-g/p/poland.lh/zdrowie/grupy_tematyczne.gif) no-repeat 5px -80px;}

.wazneLinkiDiv .content {border-bottom: 1px solid #2066AE;}
.wazneLinki li {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/sg_v2/gray_square.gif) no-repeat 2px 8px;}





#article h2.superscription {padding-left:15px;}

.tabs {font-size: 12px; font-weight: bold; line-height: 20px; height: 20px; background: white; border-bottom: 1px solid #2066AE; overflow: hidden;}
.tabs > table {border-collapse: collapse; width: 100%;}
.tabs a {display: block; height: 20px; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/tabs.png) repeat-x 0 -50px; float: left; margin: 0 0 0 2px; padding-left: 5px; outline:0 none; color: #525252; font-weight: bold;}
.tabs a.first {margin: 0;}
.tabs a:hover {text-decoration: none;}
.tabs a.selected {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/tabs.png) repeat-x 0 0; height: 22px; color: white;}
.tabs a span {display: block; height: 20px; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/tabs.png) repeat-x 100% -50px; padding-right: 5px; font-weight: normal; font-size: 11px; line-height: 20px;}
.tabs a.selected span {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/tabs.png) repeat-x 100% 0; font-weight: bold;}
.tabs table td.tab {vertical-align: top;}
.tabs table td.tab a {width: auto; text-align: center; float: none;}
.tabs table td.first a {margin-left: 0;}

#user {border-collapse: collapse; width: 100%; margin-top: 10px;}
#user .userLinks a {line-height: 16px; display: block; float: left; padding-left: 22px;}
#user .userLinks a.link1 {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/user_icons.png) no-repeat 0 -2px;}
#user .userLinks a.link2 {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/user_icons.png) no-repeat 0 -22px;}
#user .userLinks a.link3 {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/user_icons.png) no-repeat 0 -42px;}
#user .userLinks a.link4 {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/user_icons.png) no-repeat 0 -62px;}

/*Makijaż krok po kroku*/
.mkpk_links {border: 1px solid #CACACA; max-height: 82px; overflow-y: auto; padding: 3px;}

.top_advert {width:990px; margin:0 auto;}
.advertBay {width:115px;}
.advert_750x100 {margin: 0 auto; text-align: center;width:750px;}
.kuchnia_ico {padding-top: 9px; text-align: center;}
.kuchnia_ico a {color: #505050; font-size: 18px; font-weight: bold; font-family: Times New Roman, sans-serif;};

.r250x300 {height: 250px; width: 300px; position: static;}

.breadcrumbs {font-size: 11px; color: #505050; padding-top: 5px;}
.breadcrumbs a {color: #505050;}

.articleRekl {height:60px;margin:0 auto;padding:10px 0;width:468px;}

.topTabs {background:#2066AE;margin:0;height:30px;overflow:hidden;position:relative;}
.topTabs a {color: white;display: block;font-weight: bold;height: 30px;margin-right:0;padding:0;background:none; font-family: Arial;}
.topTabs a span {display: block;font-size: 13px;line-height: 30px;text-align: center;background:none;padding:0;}
.topTabs li.first {width: 37px;padding:0 4px;}
.topTabs li.first a {background:url("http://poland.lh/subd-g/p/poland.lh/_css/zdrowie/img/top_tabs.png?v1") no-repeat scroll 0 0 transparent; width: 15px; padding-left: 20px;height:30px;}
.topTabs li.first a.selected {background:url("http://poland.lh/subd-g/p/poland.lh/_css/zdrowie/img/top_tabs.png?v1") no-repeat scroll 0 -30px transparent; }

.topTabs ul li {display: inline;float: left;height: 30px;margin-right:0;padding:0 11px}
.topTabs li.selected {margin-top:3px;background:white;height:27px;}
.topTabs li.selected a {color:#2066AE;margin-top:-2px}
.topTabs li.last {float:right;margin-right:5px;}
.topTabs li.hover{background:#063f7a;}
.topTabs .rss a {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_css/zdrowie/img/top_tabs.png?v1) no-repeat -36px 0; width:30px;}
ul.hoverSubmenu {background:#063f7a;display: none;margin-top:-2px;position:absolute;z-index:10;}
ul.hoverSubmenu li {height:26px;}
ul.hoverSubmenu li a {color:white;display:block;height:20px;padding:3px 15px;}

#sub-wiadomosci{margin-left:45px;}
#sub-medycyna{margin-left:145px;}
#sub-odzywianie{margin-left:311px;}
#sub-leczenie{margin-left:231px;}
#sub-dziecko{margin-left:408px;}
#sub-zdrowy-styl{margin-left:480px;}
#sub-narzedzia{margin-left:730px;}


/*
.topTabs .rss a {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/top_tabs.png) no-repeat -35px 0; width:30px;}
.topTabs .rss a span{background: none;}
.topTabs {overflow:hidden;height: 25px; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/border_dot.png) repeat-x 0 100%; margin: 0 3px;}
.topTabs table {border-collapse: collapse; width: 100%;}
.topTabs table td {vertical-align: top;}
.topTabs a {height: 25px; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/top_tabs.png) no-repeat -35px 0; display: block; margin-right: 2px; color: white; padding-left: 5px; font-weight: bold;}
.topTabs a span {height: 25px; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/top_tabs.png) no-repeat 100% 0; line-height: 26px; display: block; text-align: center; font-size: 12px; padding-right: 5px;}
.topTabs .first {width: 37px;}
.topTabs .first a {background:url("http://poland.lh/subd-g/p/poland.lh/zdrowie/top_tabs.png") no-repeat scroll 0 0 transparent; width: 15px; padding-left: 20px;}
.topTabs .first a.selected {background:url("http://poland.lh/subd-g/p/poland.lh/zdrowie/top_tabs.png") no-repeat scroll 0 -30px transparent; }
.topTabs .first a span{background: transparent; text-align: center;}
.topTabs .first a:hover {text-decoration: none;}
.topTabs .last a {margin: 0;}
.topTabs a:hover {color: white;}
.topTabs a.selected {background-position: -35px -30px; color: #2066AE; height: 26px;}
.topTabs a.selected span {background-position: 100% -30px; height: 26px;}
*/
/*.categoriesBox li {background: white url("http://poland.lh/subd-g/p/poland.lh/kuchnia/black_arrow.gif") no-repeat 0 2px; display:inline; float:left; margin-left:10x; margin-right:10px; padding:0 0 3px 10px; border-left: 2px solid black;}*/
.categoriesBox {border-bottom: 1px solid #CACACA; padding-bottom: 4px;}
.categoriesBox li {display:inline; float:left; padding:0 9px 3px 9px; border-left: 1px solid #525252; margin-bottom: 2px;}
.categoriesBox li.last {border-right: 1px solid #525252;}
.categoriesBox li a {color:black; font-size: 12px;}
.categoriesBox li a.selected {color:#2066AE; font-weight: bold;}
.categoriesBox li #other_sse_list {position: absolute; margin-left: -1px; border: 1px solid #525252; border-top: 0; background: white; display: none; left: 0; top: 0;}
.categoriesBox li #other_sse_list li {float: none; display: block; min-width: 100px; border: 0;}

.blad{font-size:12px;}
.blad h2{background:#ffeae7;border:1px solid #e6bbb3; padding: 10px; text-align:center;}

.link_switch {text-align: center; padding: 6px 0;}
.link_switch span {font-weight: bold; font-size: 12px; background: #d7d8da; padding: 3px 6px; border-left: 1px solid white; cursor: pointer;}
.link_switch span.selected {background: white; cursor: default;}


#konkursy {border-collapse: collapse; width: 100%;}
#konkursy td {height: 64px; border: 1px solid #cacaca; text-align: center;}
#konkursy a {padding-top: 44px; overflow: hidden; color: black; font-size: 12px; display: block; height: 20px; background-image: url(http://poland.lh/subd-g/p/poland.lh/kuchnia/konkursy.png); text-align: center; width: 115px;}
#konkursy .r1 .c1 a {background-position: 0 0;}
#konkursy .r1 .c2 a {background-position: 0 -64px;}
#konkursy .r2 .c1 a {background-position: 0 -128px;}
#konkursy .r2 .c2 a {background-position: 0 -192px;}

.ql a {float: left; dispaly: block; font-size: 9px; text-align: center; padding-top: 45px; width: 49px; color: black; letter-spacing: -1px;}
.ql a.ql1 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% 0;}
.ql a.ql2 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% -100px;}
.ql a.ql3 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% -200px;}
.ql a.ql4 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% -300px;}
.ql a.ql5 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% -400px;}
.ql a.ql6 {background: #E2E2E2 url(http://poland.lh/subd-g/p/poland.lh/zdrowie/icon.png) no-repeat 50% -500px;}

#contentWrapper {border: 1px solid #cacaca; border-top: 0; padding: 0 4px 5px 4px; margin: 0 3px; background: white;}
.box,.box20 {padding-top: 20px;}
.box5 {padding-top: 5px;}
#kol-prawa .reklama_arbo {padding-top: 20px;}

.box_title {color: 666666; background: white;}
.cornertr {height: 0px;}
.cornerbr {height: 0px;}

.simpleHeader .box_title {border-bottom: 1px solid #2066AE; color: #2066AE; padding-left: 10px;}
.simpleHeader .box_title a {color: #2066AE;}

.color1Header .content {background-color: #ffffff; border-left: 1px solid #CACACA; border-right: 1px solid #CACACA;}
.color1Header .content.noBorder {border:0;}
.color1Header .box_title {background: #2066AE; padding: 0 10px 6px 10px; line-height: 10px; color: white;}
.color1Header .box_title a {color: white;}
.color1Header .box_title span {font-weight: normal;}
.color1Header .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -10px; line-height: 1px;}
.color1Header .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -10px; line-height: 1px;}
.color1Header .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -35px; line-height: 1px;}
.color1Header .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -35px; line-height: 1px;}

.color1Border .content {background-color: white; border: 2px solid #2066AE; border-top: 0; border-bottom: 0;}
.color1Border .box_title {background: #2066AE; padding: 0 10px 6px 10px; line-height: 10px; color: white;}
.color1Border .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -40px; line-height: 1px;}
.color1Border .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -40px; line-height: 1px;}
.color1Border .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -45px; line-height: 1px;}
.color1Border .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -45px; line-height: 1px;}

.color1Border .firstLetters {margin: 0 auto;}
.color1Header .firstLetters a {color: #2066AE;} 
.color1BGReverse .firstLetters a {color: #2066AE; font-weight: bold;}
.color1Border .firstLetters a {color: #2066AE; font-weight: bold;}
.color1Header .firstLetters, .color1BGReverse .firstLetters {color: #2066AE; text-align: center; padding: 5px 0;}
.firstLettersMini a {font-weight: normal; text-decoration: underline; text-transform:uppercase;}
.firstLettersMini {text-align: center; padding: 5px 0;}
.dsws select {width: 195px;} /*Ograniczenie szerokosci selectow dla wyszukiwarki diet umieszonej w prawej kolumnie*/

.color1BG .content {background-color: #2066AE;}
.color1BG .box_title {background: #2066AE; padding: 0 10px 6px 10px; line-height: 10px; color: white;}
.color1BG .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -10px; line-height: 1px;}
.color1BG .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -10px; line-height: 1px;}
.color1BG .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -15px; line-height: 1px;}
.color1BG .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -15px; line-height: 1px;}
button.color1BG {background: #2066AE; font-size: 18px; color: white; border: 1px solid #AF1618; padding: 5px; cursor: pointer; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px;}

.color1BGReverse {background: #2066AE;}
.color1BGReverse .content {background-color: white; color: #2066AE;}
.color1BGReverse .box_title {background: white; padding: 0 10px 6px 10px; line-height: 10px; color: #2066AE;}
.color1BGReverse .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 0; line-height: 1px;}
.color1BGReverse .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% 0; line-height: 1px;}
.color1BGReverse .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -5px; line-height: 1px;}
.color1BGReverse .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -5px; line-height: 1px;}

.color2BG .content {background-color: #E2E2E2; border: 0; border: 1px solid #CACACA; border-width: 0 1px;}
.color2BG .box_title {background: #E2E2E2; padding: 0 10px 6px 10px; line-height: 10px; color: white;}
.color2BG .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -20px; line-height: 1px;}
.color2BG .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -20px; line-height: 1px;}
.color2BG .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -25px; line-height: 1px;}
.color2BG .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -25px; line-height: 1px;}

.grayBorder .content {border: 1px solid #c7c6c6; border-width: 0 1px 0 1px;}
.grayBorder .box_title {/*border-bottom: 1px solid #2066AE;*/ color: #2066AE; padding-left: 10px; border-left: 1px solid #C7C6C6; border-right: 1px solid #C7C6C6;}
.grayBorder .cornertr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -30px; line-height: 1px;}
.grayBorder .cornertl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -30px; line-height: 1px;}
.grayBorder .cornerbr {height: 5px; padding-left: 10px; background: transparent url(img/corners.png) no-repeat 0 -35px; line-height: 1px;}
.grayBorder .cornerbl {height: 5px; background: transparent url(img/corners.png) no-repeat 100% -35px; line-height: 1px;}

h2 {font-size: 14px; line-height: 20px; display: block;}
h3 {font-size: 12px; line-height: 16px; display: block;}
a.small {font-size: 10px; line-height: 24px; margin-left: 5px; float: right;}

.receipts_categories {}
.receipts_categories li {width: 200px; background: white url("http://poland.lh/subd-g/p/poland.lh/kuchnia/black_arrow.gif") no-repeat 0 4px; float: left; padding: 2px 2px 2px 14px;}


img.sse_icon {float: left; margin-top: 7px; border: 1px;}
ul.links {margin: 5px 0 7px 0; padding: 0;}
ul.links li {font-size: 12px; line-height: 14px; padding: 2px 0px 2px 10px; display: table; background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/red_dot.gif) no-repeat 2px 8px;}
ul.links li .text {background: white;}
ul.links li .text span {display: block; padding-bottom: 5px;}
ul.links li .b {letter-spacing: 0;}
ul.links.m3 {margin:3px;}

/*Box najnowse porady motoryzacyjne*/
#npk {border: 0; padding: 4px 0;}
#npk table {border-collapse: collapse; width: 100%;}
#npk table td {vertical-align: top;}
#npk table td.sse_list {background: #d7d8da; width: 40%; border: 1px solid #d7d8da; border-width: 1px 0;}
#npk table td.sse_list div {height: 125px; overflow-y: auto;}
#npk table td ul.arts {height: 125px; overflow-y: auto;}
#npk table td ul.arts li {font-size: 12px; padding: 2px 5px 2px 15px; background: white url("http://poland.lh/subd-g/p/poland.lh/zdrowie/red_dot.gif") no-repeat 6px  8px;}
#npk table td.sse_list li {font-weight: bold; padding: 2px 5px; font-size: 12px;}
#npk table td.sse_list li.selected {background: white; color: #2066AE; background-image: none;}
#npk table td.sse_list li.selected:hover {text-decoration: none;}

#sections_list {height: 164px; overflow-y: auto; border: 1px solid #CACACA; border-top: 0; background: #d7d8da; padding: 0;}
#sections_list h3 {padding: 1px 5px; text-decoration: none; color: #03337B; font-weight: normal;}
#sections_list .selected h3, #sections_list .selected h3 a {background: white; color: #2066AE; font-weight: bold; border: 0;}



#wieszjak_clock {padding: 0 2px; text-align: center;}
.roundButton {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/sg_v2/checkbox_button.png) no-repeat 0 0; width: 142px; height: 24px; line-height: 22px; margin: 3px 3px 0 3px; display: inline-block; text-align: center; font-weight: bold;}
.roundButtonCheckbox {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/sg_v2/checkbox_button.png) no-repeat 0 -24px; width: 118px; height: 24px; line-height: 22px; padding-left: 24px; display: inline-block; margin: 3px 3px 0 3px; text-align: center; font-weight: bold; outline:0 none;}
.roundButtonCheckboxChecked {background-position: 0 -48px;}
.searchForm .searchTextContener {border: 0px solid white; margin: 3px 0; float: left; background: white;}
.searchForm .adv_opt_lin {padding-right: 100px;}
.searchForm input.defaultTextActive {color: #999999;}
.searchForm input.searchText {width: 198px; line-height: 16px; padding: 3px 0; border: 2px solid #CCCCCC; border-top: 2px solid #202020; border-left: 2px solid #202020;}
.searchForm input.searchText.newsletter {width:170px;}
input.defaultTextActive {color: #999999;}
.szukajBtn {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/szukaj_btn_redBG.png) no-repeat 0 0; border: 0; width: 74px; height: 32px; cursor: pointer;}
.szukajBtn2 {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/szukaj_btn_redBG.png) no-repeat 0 0; border: 0; width: 74px; height: 32px; cursor: pointer;}
.zapiszSieBtn {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/zapisz_sie_btn_grayBG.png) no-repeat 0 0; border: 0; width: 92px; height: 32px; cursor: pointer;}
.glosujBtn {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/glosuj_btn_white_bg.png) no-repeat 0 0; border: 0; width: 74px; height: 32px; cursor: pointer; display: block; margin: 5px auto 0 auto;}
.szukajBtnGreenBg {background: transparent url(http://poland.lh/subd-g/p/poland.lh/zdrowie/szukaj_btn_grayBG.png) no-repeat 0 0; border: 0; width: 74px; height: 32px; cursor: pointer;}
.searchForm table.big {border-collapse: collapse;}
.searchForm table.big td {padding: 5px 0;}
.searchForm table.big .separator td {border-top: 1px dashed white;;}
.searchForm table.big table.radioOptions {font-size:12px;}
.searchForm table.radioOptions td{padding:2px;}
.searchForm table.radioOptions td label,.searchForm table.radioOptions td a {color:#0E3F84;cursor:pointer;}

html#bbtPage body .bbtext a.bbtWord.double {border-bottom:1px solid #22418F !important;color: #22418F !important;cursor:pointer;display:inline;float:none;margin:0;padding:0 0 1px;text-decoration:underline !important;}

.boxContentSwith {width: 100%; border-collapse: collapse; cursor: pointer; font-size: 12px;}
.boxContentSwith td {border: solid white; border-width: 0 1px; background: #e2e2e2; height: 19px; line-height: 20px;}
.boxContentSwith tr.narrow td {width: 33%; height: 18px; line-height: 18px;}
.boxContentSwith td.selected {background-color: white; cursor: default;}

.tematDnia p {font-weight: bold; font-size: 12px; padding: 4px 0}
.tematDnia p.lead {font-weight: normal; padding: 0 0 7px 0; font-size: 11px;}
.tematDnia h2 {border: 0; padding: 0; line-height: 20px; height: 20px; overflow: hidden;}
.tematDnia h2.hidden {display: none;}
.tematDnia img {border: 1px solid #0e4152; margin-left: 6px;}
.tematDnia .lead {line-height: 14px; height: 50px; overflow: hidden;}

#tematDniaDuzy {background: white;}
#tematDniaDuzy .content {padding-left: 5px; height: 250px;}
#tematDniaDuzy table {border-collapse: collapse; width: 100%;}
#tematDniaDuzy .bigLink {padding: 3px 5px 3px 10px; background: #d9dee2; height: 70px; overflow: hidden;}
#tematDniaDuzy .bigLink h2 {padding-bottom: 5px; line-height: 14px;}
#tematDniaDuzy .smallLink {padding: 5px 5px 0px 10px; height: 70px; overflow: hidden;}
#tematDniaDuzy .smallLink a.img {display: block; width: 80px; height: 60px; padding: 0 5px 1px 0; float: left;}
#tematDniaDuzy .smallLink img {width: 80px; height: 60px;}
#tematDniaDuzy .smallLink h2 {padding-bottom: 2px; line-height: 16px; font-size: 12px;}
#tematDniaDuzy .smallLink p.lead {padding-left: 85px;}



.niezbednik .content li a.promLink,a.promLink {color:#B30507;}

.malaWyszukiwarka .content {padding: 0 5px;}
.malaWyszukiwarka .adv_opt {padding-right: 85px;}
.niezbednik .content.noBorder {border:0;}
.niezbednik .content ul {margin:3px;}

table.lookMedSearch {width: 100%;}
table.lookMedSearch .cell1 {width: 180px; text-align: center;}
table.lookMedSearch .cell2 {vertical-align: top; padding-top: 4px;}
table.lookMedSearch .cell2 input.text {height: 24px; width: 100%;}
table.lookMedSearch .cell2 table {margin: 5px 0; width: 60%;}
table.lookMedSearch .cell2 table td.radio {width: 15px;}
table.lookMedSearch .cell3 {width: 100px; vertical-align: top; text-align: center;}

ul.thumbnailsList li {width: 430px; padding: 10px 0;}
ul.thumbnailsList li div.desc {width:285px;}
ul.thumbnailsList li div.desc h3 {line-height:15px;margin-bottom:2px;}
div.mediumThumbnail {height:74px;margin-right:10px;text-align:center;width:130px;}
div.mediumThumbnail a {display:block;height:100%;}
div.mediumThumbnail img.thumbnail {height:74px;margin-top:0;position:relative;width:130px;}
div.mediumThumbnail img.play {margin-top:0;position:relative;top:-51px;z-index:2;}



/* def. wyszukiwarki oto-dom-moto-praca z trzeba tabkami - start */
.displayNone { display: none; }
#oto_search .tab_content {border: 2px solid #2066AE; border-bottom: 0; padding: 5px;}
#oto_search table td.selected {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/prawo_tab_selected.gif) no-repeat 0 0; color: white; cursor: pointer; text-align: center; vertical-align: middle; font-size: 14px;}
#oto_search table td.unselected {background: transparent url(http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/prawo_tab_unselected.gif) no-repeat 0 0; text-align: center; vertical-align: middle; font-size: 14px; cursor: pointer;}
#oto_search table {border-collapse: collapse; width: 100%; border: 0; margin: 0; padding: 0;}

#oto_search .bgcolor { background-color: #037EFD; }

#oto_search .link {cursor: pointer;}
#oto_search .oto_form1 table td, #oto_search .oto_form2 table td, #oto_search .oto_form3 table td {padding: 4px 0px;}
#oto_search select {width: 160px;}
#oto_search input {width: 156px;}
#oto_search input.searchBtn {width:auto;}
#oto_search td.cornerBG {overflow: hidden; background: white url(http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/prawo_logo_bg.gif) no-repeat 0 19px; text-align: center; vartical-align: center; height:24px;width:93px;}
#oto_search td.bottomLine {background: transparent url('http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/prawo_bottom.gif') no-repeat 0 0;} 

#oto_search table td div.content {border: 1px solid #dfe1e0; border-bottom: 0; padding: 5px; background: white;}


div#oto_search { width:291px !important; }

td.tabOto
{
	color:#ffffff;
	cursor:pointer;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
}

td#tabDom { background:url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/oto_tab_green.png") no-repeat scroll 0 0 transparent; }
td#tabPraca { background:url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/oto_tab_orange.png") no-repeat scroll 0 0 transparent; }
td#tabMoto { background:url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/oto_tab_grey.png") no-repeat scroll 0 0 transparent; }

.topBorderGreen { border-top: 3px solid #037EFD !important; }
.topBorderGrey { border-top: 3px solid #A51922 !important; }
.topBorderOrange { border-top: 3px solid #FE7700 !important; }

.countentBorderGreen { background-color: #037EFD !important; }
.countentBorderGrey { background-color: #A51922 !important; }
.countentBorderOrange { background-color: #FE7700 !important; }

.roundBottomLeftBlue
{
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_lewy_nieb.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.roundBottomCenterBlue
{
	background: none repeat scroll 0 0 #037EFD;
    float: left;
    height: 4px;
    width: 269px;
}

.roundBottomRightBlue
{ 
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_prawy_nieb.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.roundBottomLeftOrange
{
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_lewy_pom.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.roundBottomCenterOrange
{
	background: none repeat scroll 0 0 #FE7700;
    float: left;
    height: 4px;
    width: 269px;
}

.roundBottomRightOrange
{ 
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_prawy_pom.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.roundBottomLeftRed
{
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_lewy_czer.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.roundBottomCenterRed
{
	background: none repeat scroll 0 0 #A51922;
    float: left;
    height: 4px;
    width: 269px;
}

.roundBottomRightRed
{ 
	background: url("http://poland.lh/subd-g/p/poland.lh/_i/wyszukiwarka_oto/11x11_prawy_czer.png") no-repeat scroll 0 -7px transparent !important; 
	width: 11px;
	float: left;
}

.otoBold { font-weight: bold !important; }

/* def. wyszukiwarki oto-dom-moto-praca z trzeba tabkami - stop */

div#rightColumnUtils
{
	width: 286px;
	margin-left: auto;
	margin-right: auto;
}

div.utilsItem
{
	float: left;
    margin-right: 3px;
}

div#promoBarZdrowie 
{
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	padding: 5px;
	margin: 5px 0px;
	font-size: 11px;
	background-color: #1659A0;
	color: #ffffff;
	text-align: center;
}

div#promoBarZdrowie a
{
	color: #ff4800;
}

/* pogoda start */

table#prognoza2
{
	width: 668px;
	background: #C4C7CE;
	text-align: center;
    vertical-align: top;
	margin-top: 2px;
	margin-bottom: 2px;
	border-collapse:collapse;
}

table#prognoza2 th
{
	font-weight: normal;
    padding-bottom: 5px;
    padding-top: 5px;
}

table#prognoza2 td
{
	background: #ffffff;
	/*border: 1px solid #C4C7CE;*/
	padding: 5px;
}

table#prognoza2 td#tdNastepnyDzien
{
	background: #F1F1F1;
	padding: 0px;
	font-size: 10px;
}

table#prognoza2 tr#mainRow
{

}

table#prognoza2 tr#mainRow tr
{
	background: #C4C7CE;
}

div#mainThDivTitle
{
	font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
}

div#mainThDivContainter
{
	/*height: 252px;*/
	height: 532px;
	background: #f1f1f1;
}

table#prognoza2 tr#mainRow th p
{
	font-size: 18px;
    margin-bottom: 12px;
    margin-top: 10px;
}

table.prognozaDni
{
	/*margin-top: 15px;*/
	background: none;
	/*border: 1px solid #C4C7CE;*/
	width: 207px !important;
	float: left;
	/*margin-right: 15px;*/
}

table.prognozaDni tr td
{
	vertical-align: top;
	text-align: center;
}

table.prognozaDni h2
{
	position: relative;
    text-align: center;
    top: 2px;
}

div.pogoda_col_row
{
	font-size: 12px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 170px;
}

span.pogoda_col1
{
	float: left;
}

span.pogoda_col2
{
	float: right;
	font-weight: bold;
}

span.span_kierunek_wiatru
{
	position: relative;
    top: 5px;
}

div#pogodaLeftCol
{
	float: left;
    margin-top: 13px;
    width: 416px;
}

div#pogodaRightCol
{
	float: left;
    margin-right: 15px;
    margin-top: 13px;
}

.border-right-white
{
	border-right: 1px solid #ffffff;
}

div.tableContainer
{
	margin-bottom: 20px;
}

h2#pogodaSelectCityHeader
{
	border-bottom-color: #2066AE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #2066AE;
    margin-left: 15px;
    padding-left: 16px;
    width: 206px;
}

ul#pogodaSelectCityList
{
	
}

ul#pogodaSelectCityList li
{
	display: block;
    margin-left: 15px;
    padding-left: 16px;
    padding-right: 2px;
    padding-top: 2px;
}
/*
tr#pogoda-selected-row td
{
	background: #f1f1f1 !important;
}

tr#pogoda-selected-row td.ie-row-hack
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 77px 0px #ffffff !important; 
	_background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 76px 0px #ffffff !important; 
	border-right: none !important;
}

tr#pogoda-selected-row td.ie-row-hack:last-child
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 77px 0px #f1f1f1 !important; 
	_background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 76px 0px #f1f1f1 !important; 
}
*/
td.ie-row-hack
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 77px 0px #ffffff !important; 
	_background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/1px_grey.png") repeat-y scroll 77px 0px #f1f1f1 !important; 
}

/* rounds main*/

.bg-round-top-left
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/round_top_left.png") no-repeat scroll left top transparent !important; 
}

.bg-round-top-right
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/round_top_right.png") no-repeat scroll right top transparent !important; 
}

.bg-round-bottom-left
{
	/*background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/round_bottom_left.png") no-repeat scroll left bottom #ffffff !important; */
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/round_bottom_left.png") no-repeat scroll left bottom #f1f1f1 !important; 
}

.bg-round-bottom-right
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/round_bottom_right.png") no-repeat scroll right bottom transparent !important; 
}

/**/

.bg-sec-round-top-left
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/sec_round_top_left.png") no-repeat scroll left top transparent !important; 
}

.bg-sec-round-top-right
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/sec_round_top_right.png") no-repeat scroll right top #f1f1f1 !important; 
}

.bg-sec-round-bottom-left
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/sec_round_bottom_left.png") no-repeat scroll left bottom transparent !important; 
}

.bg-sec-round-bottom-right
{
	background: url("http://poland.lh/subd-g/p/poland.lh/zdrowie-w-podrozy/pogoda/sec_round_bottom_right.png") no-repeat scroll right bottom #f1f1f1 !important; 
}

div.double-round-bottom
{
	height: 13px;
}

.con-right-bottom
{
	float: left; height: 15px; margin-left: 2px; margin-top: -2px; width: 203px;
}

.con-left-bottom
{
	float: left; height: 15px; margin-left: 0; margin-top: -2px; width: 203px;
}

/* pogoda stop */

.tresc-main table.planszaDiag {border-collapse: separate; border-spacing: 10px 0px; border: 0;}
.tresc-main table.planszaDiag td {border: 1px solid #5FC2E2; background: #C9E2FF; -moz-border-radius: 5px;}
.tresc-main table.planszaDiag td.header {border: 1px solid #217EC1; background: #217EC1; font-weight: bold; text-align: center; color: #FFFFFF; -moz-border-radius: 5px;}
.tresc-main table.planszaDiag td.arrow {text-align: center; vertical-align: middle; border: 0; background: white; padding: 0;}
#article .tresc-main table.planszaDiag td.arrow img {margin: 0; padding: 0;}
.tresc-main table.planszaDiag td.empty {border: 0; background: white;}

div#leftHanger.zdrowie:hover { background: url('http://poland.lh/subd-g/p/poland.lh/zdrowie/l_strzalka_aktywna.png') no-repeat 1px -3px; }
div#rightHanger.zdrowie:hover { background: url('http://poland.lh/subd-g/p/poland.lh/zdrowie/r_strzalka_aktywna.png') no-repeat -1px -3px; }

div.carouselCiazaItem
{
	float: left;
	height: 204px;
	width: 131px;
	background: url('http://poland.lh/subd-g/p/poland.lh/zdrowie/ciazaCarousel.jpg') no-repeat -20px 0px;
}

div#ciazaCarouselTransparentBar
{
	background: url('http://poland.lh/subd-g/p/poland.lh/zdrowie/ciazaCarouselTransparentBar.png') no-repeat 0px 0px;
	height: 43px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -39px;
    width: 629px;
}

div#hanger div.pos1 { background-position: -19px 0px; }
div#hanger div.pos2 { background-position: -146px 0px; }
div#hanger div.pos3 { background-position: -275px 0px; }
div#hanger div.pos4 { background-position: -401px 0px; }
div#hanger div.pos5 { background-position: -524px 0px; }
div#hanger div.pos6 { background-position: -651px 0px; }
div#hanger div.pos7 { background-position: -780px 0px; }
div#hanger div.pos8 { background-position: -910px 0px; }
div#hanger div.pos9 { background-position: -1030px 0px; }

div.carouselCiazaItem a
{
	background: url('http://poland.lh/subd-g/p/poland.lh/zdrowie/ciazaCarouselBullet.png') no-repeat 65px 0px;
	display: block;
    left: 10px;
    position: relative;
    top: 178px;
    width: 115px;
    z-index: 9;
	height: 24px;
	color: #ffffff;
}

div.carouselCiazaItem a:hover
{
	text-decoration: none;
}

a.spolecznosc_box_forum, .icoforum {
	background-attachment: scroll;
    background-color: white;
    background-image: url("img/icons2.png");
    background-position: 10px -695px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    line-height: 36px;
    padding-left: 48px;
    text-decoration: underline;
}

a.spolecznosc_box_eksperci, .icoeksperci {
	background-attachment: scroll;
    background-color: white;
    background-image: url("img/icons2.png");
    background-position: 10px -494px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    line-height: 36px;
    padding-left: 48px;
    text-decoration: underline;
}

a.spolecznosc_box_ludzie, .icoludzie {
	background-attachment: scroll;
    background-color: white;
    background-image: url("img/icons2.png");
    background-position: 6px -593px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    line-height: 36px;
    padding-left: 48px;
    text-decoration: underline;
}

.encTab{background:#2066AE;color:white;cursor:pointer;position:relative;top:2px;border-style:solid;border-color: #2066AE;border-radius:5px 5px 0 0;border-width:2px 2px 0;text-align:center;height:22px;line-height:20px;width:100px;margin-right:5px;}
.encTab.selected{background:white;color:#2066AE;cursor:default;}
.encTab a {width:100px;display:block;color:white;}
.encTab.selected a{color:#2066AE;}

.rozwoj_dziecka {
	background: url("http://poland.lh/subd-g/p/poland.lh/_css/kobieta/img/dziecko_wyszukiwarka7_tlo.jpg") repeat scroll 0 0 transparent;
    height: 92px;
    padding: 0;
}

.rozwoj_dziecka select {
	margin-top: 35px;
}

.zabawyBg {
	background: url("http://poland.lh/subd-g/p/poland.lh/_css/kobieta/img/tlo_zabawa.jpg") no-repeat scroll 0 0 transparent;
    height: 75px;
}

ul.topicSearchEngineResults {
    list-style-position: inside;
    list-style-type: square;
}

ul.topicSearchEngineResults li {
    font-size: 13px;
    margin-bottom: 5px;
}

ul.topicSearchEngineResults li .desc {
    font-size: 11px;
    margin: 0 0 0 14px;
    width: 600px;
}

ul.topicSearchEngineResults li .desc a {
    color: #707070;
}

select.searchSelect {
    margin-right: 4px;
    padding: 2px;
}

input#topicSearchBtn {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3px;
}

div.topicSearchForm {
    margin: 10px 0;
    text-align: center;
}

.cwiczeniaBG {
    background: url("http://poland.lh/subd-g/p/poland.lh/kobieta/wyszCwiczenBG.png") repeat scroll 0 0 transparent;
}

.cwiczenia {
    height: 62px;
}

.dietyBg {
    background: url("http://poland.lh/subd-g/p/poland.lh/kobieta/dietyBg.png") no-repeat scroll 0 0 transparent;
}

.dietyBg table {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.firstLetters a {
    font-weight: bold;
}

#searchTabsContainer > div {
	font-size: 12px;
	text-align: center;
	padding: 5px;
}

.tabs td a {
	width: auto;
	float: none;
	text-align: center;
}

.ciazaBg {
	background: url("http://poland.lh/subd-g/p/poland.lh/_css/kobieta/img/ciaza_wyszukiwarka_tlo.jpg") no-repeat scroll 0 0 transparent;
    height: 78px;
}

select#ciaza {
	margin-top: 25px;
}

.serwisyEdukacyjneStaticList .staticItemIcon a {
	float: left;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-right: 10px;
	text-align: center;
	width: 100px;
}

.serwisyEdukacyjneStaticList a img {
	height: 73px;
}

.topicFfTheDayTitle {
	color: #03337B !important;
}