.box_comments {
	background: transparent url("../images/dot-line.png") repeat-x top left;
	padding-top: 1px
}

section.comments {
    margin-bottom: 15px;
}
section.comments .row{
    overflow:hidden;
}
section.recomments .botmenu,
section.comments .botmenu {
    margin-left: 35px;
    height:25px;
}
section.recomments .botmenu .ocen,
section.comments .botmenu .ocen{
    display:inline;
    padding-bottom:5px;
}
section.recomments .botmenu .odpowiedzi,
section.comments .botmenu .odpowiedzi{
    border-left:1px solid #CCC;
    padding-left:15px;
    margin-left:15px;
    display:inline;
}
section.recomments .botmenu .odpowiedzi a:hover,
section.comments .botmenu .odpowiedzi a:hover {
	color: #FE4365;
}
section.recomments .botmenu p,
section.comments .botmenu p {
	display: inline;
}
section.recomments .botmenu p a,
section.comments .botmenu p a {
    vertical-align:text-bottom;
    display:inline;
	color: #000;
	text-decoration: none;
}

section.recomments .botmenu span,
section.comments .botmenu span {
    color:#CCC;
}
section.recomments .botmenu .ocen a img,
section.comments .botmenu .ocen a img{
    padding:0 5px;
	margin-bottom: -3px;
}

section.comments .tabs_bar {
    background: #F6F6F6;
    height: 36px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

section.comments .tabs_bar > span {
    font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    float: left;
    margin: 3px 10px 0px 7px;
}

section.comments .tabs_bar div a {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #CCC;
    background: #FFF;
    color: #999;
    padding: 5px 10px 3px 10px;
    margin-top: 9px;
	text-decoration: none;
}

section.comments .tabs_bar div a.act {
    color: #FE4365;
    border-bottom: 1px solid #FFF;
	text-decoration: none;
}

section.comments .tabs_bar div a:hover {
    text-decoration: none;
	color: #000;
}
section.comments .tabs_bar div a:hover span {
}

section.comments .tabs_bar div a span {
    color: #999;
    margin-left: 2px;
}
section.comments .comments_cont .zakladki,
section.comments .comments_cont .tabs {
    overflow: hidden;
    position: relative;
    z-index: 2;
}
section.comments .comments_cont .zakladki {
	background: #F6F6F6 url("../images/dot_bg.png") repeat-x bottom left;

}

section.comments .comments_cont .zakladki ul li a {
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #CCC;
}
section.comments .comments_cont .zakladki ul li.active a { color: #000 }

section.comments .comments_cont .zakladki ul li {
	border-left: 1px solid #CCC;
}
section.comments .comments_cont .zakladki ul li.najstarsze {
	border-right: 1px solid #CCC;
} 

section.comments .comments_cont .zakladki ul li.polecane {
	border-left: 0px none;
}

section.comments .comments_cont .tabs a {
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    float: left;
    margin-left: 5px;
    padding: 5px 5px 5px 0;
    text-transform: uppercase;
    color: #999;
}

section.comments .comments_cont .tabs a:first-child {
    margin-left: 0px;
}

section.comments .comments_cont .tabs a.act {
    color: #FE4365;
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

section.comments .comments_cont .tabs a span {
    font-size: 11px;
}

section.comments .comments_cont .tabs a span:before {
    background: none repeat scroll 0 0 #999;
    border: 0 none;
    content: "";
    display: block;
    float: left;
    height: 10px;
    margin: 3px 5px 0 0;
    width: 4px;
}

section.comments .comments_cont .tabs a.act span:before {
    background: #FE4365;
}

section.comments .comments_cont .comments_list {
    border-top: 1px solid #CCC;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding-top: 5px;
}

section.comments .comments_cont .comments_list .comment {
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

section.comments .comments_cont .comments_list .all {
    overflow: hidden;
}

section.comments .comments_cont .comments_list .all a {
    float: right;
	text-decoration: none;
	padding-left: 10px;
	background: transparent url("../images/arrows.png") no-repeat 0px 50% ;
    color: #FE4365;
}

section.comments .comments_cont .comments_list .all a:hover {
    text-decoration: underline;
}

section.comments .comments_cont .comments_list .all a span {
	font-weight: bold;
}


section.comments .comments_cont .comments_list .comment .user {
    float: left;
    width: 105px;
}

section.comments .comments_cont .comments_list .comment .user > div {
    overflow: hidden;
    height: 55px;
    margin-bottom: 5px;
    color: #4c4c4c;
}

section.comments .comments_cont .comments_list .comment .user > div img {
    float: left;
    margin-right: 13px;
}

section.comments .comments_cont .comments_list .comment .user div.actions {
    float: left;
}

section.comments .comments_cont .comments_list .comment .user div.actions a {
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    margin-top: 5px;
    -moz-transition: all;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 0.2s;
    -webkit-transition: all;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.2s;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

section.comments .comments_cont .comments_list .comment .user div.actions a:hover {
    opacity: 0.7;
}

section.comments .comments_cont .comments_list .comment .user div.actions a:first-child {
    margin-top: 0px;
}

section.comments .comments_cont .comments_list .comment .user div.actions a.reply {
    background: url(../images/comment_sprites.png) 0 0 no-repeat;
}

section.comments .comments_cont .comments_list .comment .user div.actions a.report {
    background: url(../images/comment_sprites.png) 0 -15px no-repeat;
}

section.comments .comments_cont .comments_list .comment .user div.actions a.quote {
    background: url(../images/comment_sprites.png) 0 -30px no-repeat;
}

section.comments .comments_cont .comments_list .comment .user span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
}
section.comments .comments_cont .comments_list .comment .user span a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

section.comments .comments_cont .comments_list .comment .user time {
    font-size: 11px;
}

section.comments .comments_cont .comments_list .comment blockquote {
    float: right;
    width: 495px;
    padding: 10px 35px;
    position: relative;
	margin-right: 10px;
}

section.comments .comments_cont .comments_list .comment blockquote img.qleft,
section.comments .comments_cont .comments_list .comment blockquote img.qright {
    position: absolute;
}

section.comments .comments_cont .comments_list .comment blockquote img.qleft {
    left: 0px;
    top: 0px;
}

section.comments .comments_cont .comments_list .comment blockquote img.qright {
    bottom: 0px;
    right: 0px;
}

section.comments .comments_cont .comments_list .comment blockquote p {
    font-size: 13px;
    color: #4c4c4c;
    line-height: 125%;
}


section.comments .comments_cont .comments_list .recomment{
}
section.comments .comments_cont .comments_list .recomment .comment{
    background-color:#F8F8F8;
    border-left: 1px solid #EEE;
    padding-left:5px;
    padding-top:10px;
}
section.comments .comments_cont .comments_list .recomment .comment blockquote {
    width: 476px;

}

section.addcomment {
    margin-bottom: 15px;
}

section.addcomment .hd {
    font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    padding: 5px 10px 4px 10px;
    background: #F6F6F6;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

section.addcomment .comment {
    overflow: hidden;
    margin-bottom: 10px;
}

section.addcomment .comment img {
    float: left;
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin-right: 10px;
}

section.addcomment .comment textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    width: 603px;
    height: 43px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none;
}

section.addcomment .submit {
    text-align: right;
}

section.addcomment .submit input[type=submit] {
	font-weight: normal;
	font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
	font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    border: 0px none;
    background: #FE4365;
    padding: 4px 20px;
	cursor: pointer;
}

section.addcomment .submit input[type=submit]:hover {
    background: #666;
}
.calendarium .item.open  section.comments .comments_cont .comments_list .recomment .comment blockquote {  width: 456px; }
.calendarium .item.open  section.comments .comments_cont .comments_list .comment blockquote { width: 465px; }

.calendarium .item.open  section.addcomment .comment textarea { width: 580px; }