form#tuznajdziesz_oferta div {
margin-bottom: 2px;
}
input, textarea, select {
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #E2E0D1;
padding: 1px;
}
form#tuznajdziesz_oferta select {
width: 220px;
}
form#tuznajdziesz_oferta .ot ul li {
float: left;
display: inline;
padding: 0px 5px;
}
form#tuznajdziesz_oferta .ot ul li label {
font-size: 11px;
}
form#tuznajdziesz_oferta .ot {
	clear: both;
	overflow: hidden;
	margin: 5px;
}
form#tuznajdziesz_oferta .crbox {
margin: 0px !important;
padding: 0px !important;
vertical-align: middle;
}
.crbox {
border: 0px none !important;
background: transparent none !important;
}
form#tuznajdziesz_oferta div {
margin-bottom: 2px;
}
.clear {
font-size: 0px;
line-height: 0px;
clear: both;
}
form#tuznajdziesz_oferta input.ac_input {
margin-bottom: 2px;
padding: 2px;
width: 214px;
}
form#tuznajdziesz_oferta .cena span, form#tuznajdziesz_oferta .powierzchnia span {
display: block;
margin-bottom: 2px;
}
form#tuznajdziesz_oferta .px40 {
width: 95px !important;
}
sup, sub {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9px !important;
}
form#tuznajdziesz_oferta .btt .szukaj_najnowszych {
background-color: #FE4365; 
border: 0 none;
height: 28px;
margin: 5px 0 0 0;
padding: 0;
width: 220px;
}
form#tuznajdziesz_oferta .btt .szukaj_najnowszych span {
	font-size: 16px;
	font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
}
