
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.confirmation_content .confirmation_header, .left_column .article .also_read .title, .fullwidth.ppw .ppw_list ul li h4 a, .open_category.open_gallery .fullwidth .user_data .name a, ul.gal_list li .title a, .full_width.color_connections .color_list ul li h6, .full_width.color_connections .color_image_block .color_desc h3, .color_connections .colorRiCol2_2 .content-area .item .color_block .color_name, .full_width.color_connections .site_title h2, .box.aktualnosci .content .article_item h5 a, .subcategory_content .business_card .right_card h4, .subcategory_content .business_card .right_card h4 a, .box.add_button h5 a, .search_product .search_menu h2, .box.choose_color .color_expert_list ul li .desc .name, .box.choose_color .choose_color_image .title h3 a, .box.choose_color .choose_color_image .title h3, .color_block .color_list ul li a span.color_name, .color_block .color_image_block .color_desc h3 a, .category_box .box.article .image .half .info, .open_category .left_tiny_column a span, .box.for_column .columns .img_article a span, .head_box h4, .head_box h5, .head_box h6, .head_box h4 a, .head_box h5 a, .head_box h6 a, .list_inspiration h5.title, .slide_pag .box_slides .nav a, .interior_colors .head h5 a, .slide_pag .box_slides .txt a, .top_produkty .box_content ul li .float_right h3.title a, .box.two_column .colbox .firm_info .logo_title a, .steps .step_box li.step a, .glog a .center p, .add_gallery .title, .add_news .title, .add_gallery button.submit span, .see_more_article h3 a, .box.logowanie .content .button_row button, .box.register .button a, .glog a h3, .calendarium .item .article h3 a, .box.infotop.woman .title, .add_news .button button, .category_box .content ul li h3 a, .profile_user_description .head_title h3, .category_box.profile .about h5 {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.head_box h4 a:hover, .head_box h5 a:hover, .head_box h6 a:hover {
    color: #FE4365;
}
.profile_user_description .head_title h3, .colorRiCol h4, .box.ideas_for_today .desc_box h3 a {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 27px;
    font-weight: normal;
    text-decoration: none;
}
.next_submenu ul li a, .cal_news .calendar h3 {
    color: #333333;
    font-family: "Ubuntu Regular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.list_inspiration h5.title {
    color: #999999;
}
.category_box .box.article h3, .box .content.ekspert_radzi h5 a, .box.article h5 {
    color: #000000;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 23px;
    font-weight: normal;
    text-decoration: none;
}
.box.three_cols.nppiw .content .desc, .category_box .box.article h5.desc {
    font: 15px/150% Arial,sans-serif;
}
.box .content.ekspert_radzi h5 a {
    color: #333333;
}
.rating a, .box.three_cols.nppiw .content .category a, .next_submenu ul li a:hover, .box.three_cols.nppiw .content h4 a:hover, .box .content.ekspert_radzi h5 a:hover {
    color: #FE4365;
    text-decoration: none;
}
.rating a:hover, .box.three_cols.nppiw .content .category a:hover {
    text-decoration: underline;
}
.gaztz .miesiecznik h5 a, .box.two_column .colbox .col_desc h5 a {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
}
.fullwidth.ppw ul#newssg li .main_text h3 a {
    font-size: 24px;
    text-decoration: none;
}
.gaztz .miesiecznik h5 a {
    font-size: 22px;
    font-weight: normal;
}
.category_box.profile .about h5, .left_column .infohead h5, .box.two_column td.user_name a, .box.two_column td.user_name span, .top_produkty .search_product .search_box input.submit, .box.three_cols.nppiw .content h4 a, .box.ideas_for_today .image_box span, .searchusers .content .szukaj .submit, .newsletter .subscribe_newsletter .submit, .also_read.stylist .expert_name span, .also_read.stylist .expert_name a, .box .content.ekspert_radzi .expert_desc .expert_name span, .box .content.ekspert_radzi .expert_desc .expert_name a, .wip .desc_box h5 a, .fbp #pomysly .content_list .user_info .nick_info .nick, .dopobrania .content .left span.title, .dopobrania .content .right span.title, .zakladki ul li a, .sq #quzi h5, .sq #sonda h5 {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-decoration: none;
}
.box.two_column td.user_name a, .box.choose_color .color_expert_list ul li .desc .name a {
    color: #333333;
    font-size: 19px;
    text-decoration: none;
}
.left_column .infohead h5 {
    font-size: 30px;
}
.fbp #pomysly .content_list .user_info .nick_info .nick, .also_read.stylist .expert_name a, .box .content.ekspert_radzi .expert_desc .expert_name a {
    font-size: 19px;
    line-height: 100%;
}
.box.two_column td.user_name span, .fbp #pomysly .content_list .user_info .nick_info span.count, .also_read.stylist .expert_name span, .box .content.ekspert_radzi .expert_desc .expert_name span {
    color: #999999;
    display: block;
    font-size: 15px;
    line-height: 90%;
}
.full_width.color_connections .color_list ul li h6, .box.choose_color .color_expert_list ul li .desc .name span {
    color: #999999;
    font-size: 15px;
}
.confirmation_content .confirmation_header, .top_produkty .search_product .search_box input.submit, .searchusers .content .szukaj .submit, .newsletter .subscribe_newsletter .submit {
    font-size: 17px;
}
.dopobrania .content .left span.title, .dopobrania .content .right span.title, .right_column .zakladki ul li a {
    font-size: 18px;
}
.sq #quzi .buttons a, .sq #sonda .sondaGlosuj a, .sq #sonda .zobaczWyniki a, .sq #sonda .pytania_sonda .buttons a {
    color: #FFFFFF;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.sq #sonda .eksperciImage2 p:first-child, .sq #sonda .odpowiedz_sonda p.thx {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.right_column .ad_link_tekstowy a, .navgation ul.navi li.item div a {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
#topkomentowane, #blogi, #stylista_radzi, #pomysly, .odpowiedz_sonda, #quzi, #dekoteria {
    display: none;
}
.category_box .headtitle h4 a {
    color: #999999;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}
.fullwidth.ppw .site_title h2, .full_width.color_connections .site_title h2, .left_column .site_title.article_list strong, .left_column .site_title.article_list, .left_column .site_title h2 {
    color: #999999;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
}
.full_width.color_connections .color_image_block .color_desc h3, .box.choose_color .choose_color_image .title h3, .box.choose_color .choose_color_image .title h3 a, .color_block .color_image_block .color_desc h3 a, .left_column .site_title.article_list strong, .left_column .site_title.article_list, .left_column .site_title.article_list h2 {
    font-size: 26px;
}
.left_column .site_title.article_list strong, .left_column .site_title.article_list {
    color: #CCCCCC;
}
.box.choose_color .choose_color_image .title span {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 135%;
}
.pagination_site .pagin li span, .pagination_site .pagin li a {
    font-family: "Ubuntu Regular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.for_in_row .column h3 {
    padding-top: 8px;
}
ul.gal_list li .title a, .for_in_row .column h3 a {
    color: #333333;
    font-family: "Ubuntu Condensedregular",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}
.calendarium .item .article h3 a:hover, .for_in_row .column h3 a:hover {
    color: #FE4365;
}
.calendarium .item .article h3 a {
    font-size: 24px;
}
.calendarium .item.open .article h3 a {
    font-size: 42px;
}
.cal_news .calendar h3 {
    font-size: 16px;
}
.category_box.profile .about h5 {
    color: #999999;
}
