img.business_profile_image {
	display: block;
	margin-bottom: 15px;
}


.business_content_box .zakladki.tableft {
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
}

.business_content_box .zakladki a {
	text-align: center;
	display: inline-block;
}
.business_content_box .zakladki li.firma a  {	width: 320px; }
.business_content_box .zakladki li.dystrybutorzy a  {	width: 180px; }
.business_content_box .zakladki li.sklepy a  {	width: 180px; }

.business_content_box .zakladki li.firma.active {
	width: 319px;
}
.business_content_box .zakladki li.dystrybutorzy {
	border-left: 1px solid #CCC;
}
.business_content_box .zakladki li.dystrybutorzy.active {
	width: 179px;
	border-left: 1px solid #CCC;
}
.business_content_box .zakladki li.sklepy.last {
	width: 179px;
	border-left: 1px solid #CCC;
}
.business_content_box .zakladki li.sklepy.active.last {
	width: 178px;
}

.business_content_text {
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
}
.business_content_text .logo_firmy {
	float: right;
	margin: 0px 0px 15px 15px;
	cursor: pointer;
}

.business_content_text, 
.business_content_text table td {
	font: normal 14px/150% Arial, Helvetica, sans-serif;
}
.business_content_text strong {
	font-weight: bold; 
}

.business_content_text  a { color: #FE4365; text-decoration: none;  }
.business_content_text  a:hover { color: #FE4365; text-decoration: underline;  }
.prodyct_line.headtitle {
            height: 5px;
            background-color: #EEEEEE;
            position: relative;
            margin: 25px 0 15px;
        }
        .prodyct_line.headtitle h4 {
            display: inline-block;
            padding-right: 10px;
            background-color: #FFF;
            top: -10px;
            position: absolute;
        }
.prodyct_line.headtitle h4  {
    font-size: 21px;
    font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
}

.customer_card {
	border:  1px solid #E6E6E6;
	padding: 9px;
	clear: both;
	overflow: hidden;
	position: relative;
}

.customer_card .left_card {
	float: left;
	margin-right: 10px;
	width: 210px;
}
.customer_card .left_card img {
	display: block;
}

.customer_card .left_card.url_image img {
	display: block;
	cursor: pointer;
}

.customer_card .right_card {
	width: 440px;
	float: left;
}
.customer_card .right_card p {
	margin-bottom: 28px;
}
.customer_card .right_card  h3 a  {
    font-weight: normal;
    font-size: 23px;
    font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}
.customer_card .right_card  h3 a:hover  {
	color: #FE4365;
	text-decoration: none;
}

.customer_card .right_card .logo_firmy {
	float: right;
	margin: 0 0 9px 9px;
	cursor: pointer;
}
.customer_card .right_card {
	font: normal 14px/150% Arial, Helvetica, sans-serif;
}
.customer_card .right_card  strong {
	font-weight: bold;
}
.customer_card .right_card .cena {
	display: inline;
	bottom: 9px;
	left: 229px;
	position: absolute;
}
.customer_card .right_card .more {
	bottom: 9px;
	right: 9px;
	position: absolute;
	color: #FE4365;
	text-decoration: none;
	padding-left: 15px;
    background: transparent url("../images/arrows.png") no-repeat 3px 50%;
}
.customer_card .right_card .more:hover { text-decoration: underline; }

.clear.dotted {
	  background: transparent url("../images/dot-line.png") repeat-x bottom left;
    padding: 11px 0 0 0;
	margin: 0 0 10px 0;
}

.top_produkty .box_content ul li {
	clear: both;
	overflow: hidden;
	background: transparent url("../images/dot-line.png") repeat-x bottom left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

 .top_produkty .box_content ul li  .img.float_left {
	float: left;
	width: 125px;
}
 .top_produkty .box_content ul li  .img.float_left img { width: 125px; height: auto; }
 .top_produkty .box_content ul li  .float_right {
	float: right;
	width: 165px;
 }
.top_produkty .box_content ul li  .float_right h3.title {
	margin-bottom: 5px;
}
.top_produkty .box_content ul li  .float_right h3.title a:hover {
   color: #FE4365;
   text-decoration: none;
}
.top_produkty .box_content ul li  .float_right .firm_name a {
	font-weight: bold;
	color: #FE4365;
	text-decoration: none;
}
.top_produkty .box_content ul li  .float_right .firm_name a:hover {
	text-decoration: underline;
}
/* wyszukiwarka - szukaj */
.top_produkty .search_product .search_menu {
	clear: both;
	overflow: hidden;
	border: 1px solid #E6E6E6;
	padding: 9px;
}
.search_product .search_menu h2 {
	margin-bottom: 8px;
}
.top_produkty .search_product .search_menu ul li {
	display: inline-block;
	* float: left;
	margin-bottom: 3px;
}
.top_produkty .search_product .search_menu ul li a {

   color: #FE4365;
   text-decoration: none;
	padding-left: 10px;
	background: transparent url("../images/arrows.png") no-repeat 0px 50%;
	margin-right: 10px;
}
.top_produkty .search_product .search_menu ul li a:hover {
   text-decoration: underline;
}
.top_produkty .search_product .search_box{
	clear: both;
	overflow: hidden;
	background-color:#E6E6E6;
	padding: 9px;
}

.top_produkty .search_product .search_box input.search_product_input {
	border: 1px solid #E6E6E6;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 7px 5px 7px;
	width: 180px;
	outline: 0px none;
	margin: 0px 5px 0px 0;
	vertical-align: middle;
	display: inline-block;
}

.top_produkty .search_product .search_box input.submit {
	width: 78px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #FE4365;
	color: white;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	text-transform: uppercase;
	vertical-align:  middle;
	display: inline-block;

}
.top_produkty .search_product .search_box input.submit:hover {
	background-color: #666;
}
.top_produkty .search_product .search_box .choice {
	margin-top: 4px;
	font-size: 12px;
	color: #666;
}

.subcategory_content a.more {
	color: #FE4365;
	text-decoration: none;
	padding-left: 10px;
	background: transparent url("../images/arrows.png") no-repeat 0px 50% ;
}
.subcategory_content a.more:hover {
	text-decoration: underline;
}

.subcategory_content .business_card {
	border: 1px solid #CCC;
	width: 333px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.subcategory_content .business_card .left_card {
	position: relative;
	width: 130px;
	float: left;
	cursor: pointer;
}
.subcategory_content .business_card .left_card img { display:  block;}
.subcategory_content .business_card .left_card img:first-child {
	position: absolute;
	top: 10px;
	left: 0px;
}
.subcategory_content .business_card .right_card {
	padding: 5px 5px 5px 0;
	float: right;
	width: 190px;
}

.subcategory_content .business_card .right_card h4 a:hover {
	color: #FE4365;
}

.subcategory_content .business_card .right_card p {
	padding: 5px 0;
	font-size: 11px;
}
.subcategory_content .business_card.last {
	margin-right: 0px;
}
.subcategory_content .business_card .right_card a.more {
	position: absolute;
	bottom: 5px;
	font-weight: bold;
	color: #FE4365;
	font-size: 11px;
}