.box.shopping .zakupyDzialLogo {
	display: none;
}
.zakupyDzialItem,
.shopping_item {
	position: relative;
	float: left;
	width: 160px;
	margin-right: 13px;
}
.zakupyDzialItem {
	width: 160px;
}
.zakupyDzialItem.marginLeft {
	margin-left: 13px;
	margin-right: 0px;
}
.zakupyDzialItem,
.shopping_item.last {
	margin-right: 0px;
}
.zakupyDzialItem .zakupyDzialItemImg,
.shopping_item .image {
	border: 5px solid #EFEFEF;
	text-align: center;
}
.zakupyDzialItemImg {
	width: 150px !important;
}

.shopping_item .image table { width: 100%;}
.zakupyDzialItemImg,
.shopping_item .image table tr td {
	text-align: center;
	width: 100%;
	height: 100px;
	position: relative;
}
.zakupyDzialItemImg {height: 120px;}
.zakupyDzialItemImg2 .imageCenter { display: inline-block; width: 0px;}
.zakupyDzialItemImg2 .imageCenter,
.zakupyDzialItemImg2 {
	height: 120px;
	vertical-align: middle;
}
.imageCenter, .image2 {vertical-align: middle;}
.zakupyDzialItemDesc .zakupyDzialItemDescPC,
.shopping_item .image table tr td span {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #EFEFEF;
	padding: 5px 0px 0px 5px;
	font-weight: normal;
	font-size: 11px;
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
}
.zakupyDzialItemDesc {
	position: relative;
	width: 160px
}
.zakupyDzialItemDesc .zakupyDzialItemDescPC{
	bottom: auto;
	top: -22px;
	right: 3px;
}
.zakupyDzialItemDescName,
.shopping_item .desc  {
	padding: 8px 0;
}
.zakupyDzialItemDescName a,
.shopping_item .desc a {
	font-weight: normal;
	font-size: 15px;
	font-family: "Ubuntu Condensedregular", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
}
.shopping_item .desc a:hover {
	color: #FE4365;
}
.zakupyDzialItemDescKat2 {
	float: right;
	margin-bottom: 5px;
}
.box.shopping .dolnaLinia a,
.zakupyDzialItemDescCena span a,
.zakupyDzialItemDescName a:hover,
.zakupyDzialItemDescKat2 a,
.shopping_item .price a {color: #FE4365; text-decoration:  none;}
.box.shopping .dolnaLinia a:hover,
.zakupyDzialItemDescCena span a:hover,
.zakupyDzialItemDescKat2 a:hover,
.shopping_item .price a:hover {text-decoration: underline;}

.przerywanaLinia {
	clear: both;
}
.box.shopping .dolnaLinia  {
	background: transparent url("../images/dot-line.png") repeat-x bottom left;
	padding: 10px 5px;
	clear: both;
	overflow: hidden;
}