* {margin: 0; padding: 0;}
* html li {height: 1%;}
form {display: inline;}
body { font-family: Verdana, Tahoma, Arial, Georgia, sans-serif; font-size: 12px; }
table {font-size: 12px; font-family: Verdana, Tahoma, Arial, Georgia, sans-serif;}
img {border: 0;}

h1, h2, h3, h4, h5, h6{font-weight:bold;}
h1 {font-size:18px;}
li {}

.w20 {width:20px;}
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:50px;}
.w60 {width:60px;}
.w100 {width:100px;}
.w160 {width:160px;}
.w345 {width:345px;}
.w500 {width:500px;}
.h150 {height:150px;}
.h250 {height:250px;}
.halfWidth {width:50%;}
.fullWidth {width:100%;}
.relative{position:relative;}
table.bc {border-collapse:collapse;}
.whitea,a.white {color:white;}
.black,a.black {color:black;}
.red {color:red !important;}
.noPadd {padding:0;}
.padd2 {padding:2px;}
.padd3 {padding:3px;}
.padd5 {padding:5px;}
.padd7 {padding:7px;}
.padd10 {padding:10px;}
.padd20 {padding:20px;}
.paddT5,box.paddT5 {padding-top:5px;}
.paddT6 {padding-top:6px;}
.paddT10 {padding-top:10px;}
.paddT50{padding-top:50px;}
.paddT8 {padding-top:8px;}
.paddTB2 {padding:2px 0;}
.paddTB5 {padding:5px 0;}
.paddLR5 {padding: 0 5px;}
.paddR10 {padding-right:10px;}
.bgTrans {background: transparent;}

.fs10 {font-size:10px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs13 {font-size:13px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}

.mb0 {margin-bottom:0;}
.mb3 {margin-bottom:3px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.mt30{margin-top:30px;}
.ml35 {margin-left:35px;}
.mr2 {margin-right:2px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr25{margin-right:25px;}
.mt2 {margin-top:2px;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mtb3 {margin:3px 0;}
.mtb5 {margin:5px 0;}

.lh17 {line-height:17px;}

.displayNone,.hidden {display:none;}
.tempVisible {display: block;}

.breadcrumbs2{background-color: #EBEBEB;border-color: #CACACA;border-style: solid;border-width: 1px 0;font-size: 11px;min-height: 1px;padding: 1px 0 1px 5px;}

.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.top {vertical-align: top;}
.midd{vertical-align:middle;}
.bottom{vertical-align:bottom;}
.clr{clear:both;}
.clr0 {font-size:0;height:0;clear:both;}
* html .clr {height: 0; overflow: hidden;} /* IE Fix */
.fl{float:left;}
.fr{float:right;}
.u{text-decoration:underline;}
.b,.bold{font-weight:bold;}
.notvisible {visibility: hidden;}
.no_border,.noBorder {border: 0;}
.pointer {cursor:pointer;}


.errorsMsg {color:red;}

.pngFix {}
.isRollUp {}
.isRollDown {}

#topLinks {background-color:#272727;}
#topLinks h3 {width: 990px; margin: 0 auto;}
#topLinks a, #topLinks h3, #topLinks a:hover {font-size:10px; color:white; font-weight:bold;}

#topLinks2 {background-color:#272727;height:20px;font-family:Arial;}
#topLinks2 a, #topLinks2 a:hover {font-size:11px; color:white; font-weight:normal;}
#topLinksMiddle{width: 980px; margin: 0 auto;line-height:19px;font-size:11px;}
#topLinks2 .linksSection{color:#68696B;}
#topLinks2 .profileSection{width:530px;color:white;text-align:right;}
#topLinksDate,#solenizanci a{color:#A1A5A8;}
#topLinksDate li.first{padding-right:5px;}
#solenizanci{overflow: hidden;}
#topLinks2 a.log,#topLinks2 a.reg {padding-left:13px;font-size:10px;float:right;display:block;color:white;text-align:center;text-decoration:none;}
#topLinks2 .profil_status a:hover{text-decoration:underline;}
#topLinks2 a.log{width:82px;background:#696969 url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-log.png) no-repeat scroll 4px 3px;}
#topLinks2 a.reg{width:107px;background:#696969 url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-reg.png) no-repeat scroll 4px 3px;margin-right:2px;}


#wrapper {width:990px; margin:0 auto; background-color: transparent; padding: 0 0 5px 0;}

.header {position: relative;}

#header_links 
{
	padding: 0 10px;
}
.reklama_arbo * {margin: 5px auto; max-width: 750px; }
#header_links li {float: left; padding: 0 10px; background: url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/prawo/img/sprite_2.png) no-repeat scroll -2px -80px transparent; height: 16px; overflow: hidden; font-size: 11px; line-height: 15px;}
#header_links li.first {font-weight: bold; color: #03337b; padding-left: 0; background: white;}
#header_links li.last {padding-right:0;}
#header_links a.hnd {background: url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/prawo/img/sprite_2.png) no-repeat scroll -3px -22px transparent; padding-left: 20px;}
#header_links a.wk {background: url("http://pl-2.lh/subd-g/p/pl-2.lh/_css/prawo/img/sprite_2.png") no-repeat scroll -2px -48px transparent; padding-left: 24px; display: block; height: 16px;}
#header_links input.text {height: 12px; border: 1px solid #CACACA; color: #CACACA; font-size: 9px; padding: 0 3px; color: gray; width: 120px; display: block;}
#header_links table {border-collapse: collapse; font-size: 11px;}
#header_links table td {padding: 0 3px;}
#header_links table .zamow {background: #c5c5c5; color: #af0d0b; font-weight: bold; width: 55px; text-align: center; height: 14px; line-height: 14px; cursor: pointer;}

#header_body {background: transparent; padding: 5px 8px 5px 13px; margin: 2px 0 0 0;  position: relative;}
#header_body .wortal_link {display: block; float: left; height: 65px; width: 210px;}
#header_body .wieszjak_link {display: block; float: left; height: 65px; width: 260px;}
#header_body .wortal_link:hover, #header_body .wieszjak_link:hover {text-decoration: none;}
#header_body table {height: 65px; width: 100%; border-collapse: collapse;}
#header_body .main_logo {margin-top: 7px;}

#kol-lewa{width:669px;float:left;}
#kol-lewa div.col1wide{width:428px; float: left; overflow: hidden;}
/* We flamenco istnieje format zdjecia 236x177 */
#kol-lewa div.col2tight{width:236px; float: right; overflow: hidden;}
#kol-lewa div.col1tight{width:236px; float: left; overflow: hidden;}
#kol-lewa div.col2wide{width:428px; float: right; overflow: hidden;}
#kol-lewa td.col1wide{width:428px; overflow: hidden;}
#kol-lewa td.col2tight{width:236px; overflow: hidden;}
#kol-lewa td.col1tight{width:236px; overflow: hidden;}
#kol-lewa td.col2wide{width:428px; overflow: hidden;} 
#kol-lewa .col1{width:332px; float: left; overflow: hidden;}
#kol-lewa .col2{width:332px; float: right; overflow: hidden;}
#kol-lewa .col12{clear: both;}
#kol-lewa .content {font-size: 12px;}   
#kol-prawa{width:300px;float:right; overflow: hidden;}

.art_list li {padding: 10px 5px; border-bottom: 1px solid #CACACA;}
.art_list li.no_border {border: 0;}
.art_list li.padd2 {padding: 2px;}
.art_list li div.img {width: 100px; text-align: center; float: left;}
.art_list li div.text {background: white; display: table;}
.art_list li.has_pic div.text {padding-left: 10px;}
.art_list li div.text h3 {padding-bottom: 3px; font-weight: bold;}
.art_list li div.text span {line-height: 16px;}
.art_list li .tags {padding-top: 3px;}
.art_list li .tags a {color: black; text-decoration: underline;}

.pager{padding: 5px 0; float: right;}
#article .stronicowanie, .stronicowanie { background-color: #FFFFFF;margin:1px; display:block; float: left; padding:4px; border:1px solid #7e7e7e}
#article .stronicowanie a, .stronicowanie a {font-weight: normal;}
#article .stronicowanie.selected, .stronicowanie.selected { background-color: #7e7e7e;}
#article .stronicowanie.selected a, .stronicowanie.selected a {text-decoration: none; color: #FFFFFF; font-weight: bold;}
.separator{clear:both; padding-top:15px;}

#gallery_scroller {}
#gallery_scroller td.arrow {width: 21px; vertical-align: top; padding-top: 25px;}
#gallery_scroller td.arrow img {cursor: pointer;}
#gallery_scroller .visibleArea {width: 624px; margin-left: 3px; overflow: hidden;}
#gallery_scroller #contener {overflow: show; width: 10000px; margin-left: -125px;}
#gallery_scroller .item {width: 125px; float: left;}
#gallery_scroller .item a {width: 120px; display: block; padding-top: 90px; text-align: center;}

.profil_status table.notl {border-collapse: collapse; width: 220px; margin: 5px auto 0 auto;}
.profil_status table.notl td {text-align: center;}
.profil_status table.notl td a {font-weight: bold;}
.profil_status table.notl td.spacer {width: 20px; font-weight: bold; color: #03337B;}

table.users_box {width: 100%; border-collapse: collapse; margin: 0 auto 5px auto; font-size: 10px;}
table.users_box td {text-align: center; width: 25%;}
table.users_box img {width: 40px; max-height: 60px; margin: 0 auto;}

table.expert_box {width: 100%; font-size: 12px; border-collapse: collapse;}
table.expert_box td {padding: 5px 5px; vertical-align: top;}
table.expert_box img {width: 40px; max-height: 60px; margin: 0 auto;}

input.defaultTextActive {color: #999999;}

#footer {border:0;height:38px;background:#6E6E6E;padding:0;line-height:18px;font-family:Arial;clear:both; color: white; font-size: 12px;}
#footer .stopka-lewa {float:left;}
#footer a {color: white;font-weight:normal;}
#footer .stopka-prawa {float: right; font-weight: bold;}
#footer .letter{width:32px;text-align:center;float:left;}
#footer .letter a{color:white;}
#footer .row1{height:17px;background:#9C9C9C;border-width:1px;border-style:solid;border-color:#B0B0B0;border-bottom-color:#ECECEC;color:white;line-height:17px;padding-left:10px;}
#footer .row2{padding:0 10px;}
#footer .mapLink{width:113px;background:#8C8C8C;text-align:center;}
#footer .letters{margin-left:38px;}

#fwj div.section_title {background:white;padding:0 0 2px 9px;border-bottom:3px solid #696C73;padding-bottom:4px;/*font-size:18px;color:#7BBE23;font-weight:bold;*/}
#fwj .content{padding: 13px 13px 7px 10px;}

span.sqPunktor{font-size:13px;font-weight:normal;color:#2D384C;}
ul.grupyTematyczne {font-family:Arial;clear: both;display: block;height: 1%;line-height: 19px;list-style: none outside none;margin: 0;padding: 0;}
ul.grupyTematyczne li{font-size:11px;float: left; padding-right: 14px; color: #bebebe;}
ul.grupyTematyczne li.first {width:52px;font-weight: bold;font-size:12px;}
ul.grupyTematyczne li.first a {padding-left:0;}
ul.grupyTematyczne li.rarrow{background:url("http://pl-2.lh/subd-g/p/pl-2.lh/_i/sg_v4/r-arrow.gif") no-repeat scroll 0 8px transparent;width:8px;height:20px;padding-right:10px;}
ul.grupyTematyczne li.last{padding-right:0;}


/*
ul.grupyTematyczne {list-style: none; clear: both; line-height: 20px; margin: 0; padding: 0; display: block; height: 1%;}
*/

ul.grupyTematyczne li a {color: #7e807f;}
ul.grupyTematyczne li.first a {font-weight: bold; padding-left: 0px;}

ul.serviceList {line-height: 20px;height:20px;padding:0;font-family:Arial;}
ul.serviceList li {float: left;color: #7E807F;font-size: 12px;height:20px;padding-right:7px;font-size:12px;}

/*
ul.serviceList {list-style: none; clear: both; line-height: 30px}
ul.serviceList li { padding-right: 10px; color: #7e807f; font-size: 0.85em;}*/
ul.serviceList li.first {font-weight: bold;}
ul.serviceList li.last {padding-right: 0;}
ul.serviceList li a {color: #7e807f;}

#fwj{background: #F2F2F2;}

/* ujednolicenie - ponizsze tlo ma byc dla wszystkich / MK. 7.9.2011 - start */
#fwj table.letters 
{
	border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#fwj table.letters a {font-weight: bold; color: white; font-size: 12px;}
#fwj table.letters td 
{
	height: 24px; width: 33px;text-align: center;
}

#fwj table.letters td.big 
{
	width: 177px; 
	background-position: 5px -104px !important;
}

#fwj table.letters td
{
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/_css/common/img/grupy_tematyczne_common.png') no-repeat scroll 5px -80px transparent !important;
}

#fwj h2#azHeader
{
	color: #7e8080;
	padding-bottom: 8px;
    padding-top: 5px;
	border-bottom: 0px;
}
/* ujednolicenie - ponizsze tlo ma byc dla wszystkich / MK. 7.9.2011 - stop */

/** ważne linki **/
.wazneLinkiDiv .content {padding: 5px;}
.wazneLinki {width: 100%; font-size: 12px; width: 640px; margin: 0 auto;}
.wazneLinki h3 {border: 0; padding-left: 0;font-size:12px;}
.wazneLinki td {width: 33%;}
.wazneLinki li {padding-left: 10px; line-height: 18px;}

/** thickbox **/
#TB_window {}
#TB_secondLine {font: 10px Arial, Helvetica, sans-serif;color:#666666;}
#TB_overlay {position: fixed;z-index:100;top: 0px;left: 0px;height:100%;width:100%;}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {background-color:#000;filter:alpha(opacity=75);-moz-opacity: 0.75;opacity: 0.75;}
* html #TB_overlay { /* ie6 hack */position: absolute;height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TB_window {position: fixed;background: #ffffff;z-index: 9000000;color:#000000;display:none;-moz-border-radius:10px 10px 10px 10px;border: 5px solid #b9babc;text-align:left;top:50%;left:50%;}
* html #TB_window { /* ie6 hack */position: absolute;margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_window img#TB_Image {display:block;margin: 15px 0 0 15px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #666;border-left: 1px solid #666;}
#TB_caption{height:25px;padding:7px 30px 10px 25px;float:left;}
#TB_closeWindow{height:25px;padding:11px 25px 10px 0;float:right;}
#TB_closeAjaxWindow{padding:7px 10px 5px 0;margin-bottom:1px;text-align:right;float:right;}
#TB_ajaxWindowTitle{float:left;padding:7px 0 5px 10px;margin-bottom:1px;}
#TB_title{display: none;background-color:#e8e8e8;height:27px;}
#TB_ajaxContent{clear:both;padding:2px 15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em;}
#TB_ajaxContent.TB_modal{padding:15px;}
#TB_ajaxContent p{padding:5px 0px 5px 0px;}
#TB_load{position: fixed;display:none;height:13px;width:208px;z-index:103;top: 50%;left: 50%;margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */}
* html #TB_load { /* ie6 hack */position: absolute;margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_HideSelect{z-index:99;position:fixed;top: 0;left: 0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;height:100%;width:100%;}
* html #TB_HideSelect { /* ie6 hack */position: absolute;height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TB_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px;}

div#licencjaStatyczna
{
	margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

div#licencjaStatyczna h2
{
	margin-bottom: 10px;
}

div#licencjaStatyczna p
{
	padding-bottom: 25px;
}

.popup {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: gray #E5E5E5 #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-style: solid;
    border-width: 3px 1px 1px;
    color: #DDDDDD;
    font-size: 11px;
    padding: 0;
    position: absolute;
    width: 400px;
}

#waypointArticleBottomPanel {
	position:fixed;
	bottom:0px;
	right:0px;
}

#waypointArticleBottomPanel .title {
	background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    color: gray;
    font-family: Georgia;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    padding: 5px 10px 5px 14px;
}

#waypointArticleBottomPanel .body {
    color: #7A0026;
    font-family: Georgia;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px 25px 14px;
}

#waypointArticleBottomPanel .title a {
	padding-right: 60px;
	color: gray;
}

#waypointArticleBottomPanel .title span {
	background: url("_img/box_close.png") no-repeat scroll right 4px transparent;
    color: #606060;
    float: right;
    font-family: Tahoma;
    font-size: 11px;
    padding: 0 25px 0 0;
    cursor: pointer;
}

#waypointArticleBottomPanel .title span:hover {
	text-decoration: underline;
}

/*wieszjak_quiz_fobos - start*/
div#quizContainer a
{
	/* color: #2066AE; */
}

div#quizzesList div.quizItem, div#selectedQuiz div.quizItem
{
	margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

div#quizzesList h4
{
	color: #888888;
    font-weight: normal;
    margin-bottom: 10px;
	margin-left: 5px;
	border-bottom: 1px solid #dedede;
}

div#quizzesList div.quizItem h3
{
	margin-bottom: 5px;
	font-weight: normal;
}

div#quizzesList div.quizItem h3.quizLight
{
	line-height: 5px;
}

div#quizzesList div.quizItem p, div#selectedQuiz div.quizItem p
{
	font-size: 11px;
	line-height: 16px;
}

div#quizzesList div.quizItem p img, div#selectedQuiz div.quizItem p img
{
	float: left;
	border: 1px solid #dedede;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

div#selectedQuiz div.quizItem form
{
	
}

div#selectedQuiz div.quizItem form input[type="submit"], div#quizNav input[type="button"]
{
	color: #888888;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
	border: 1px solid #dedede;
	background: #eeeeee;
}

div#selectedQuiz div.quizItem form input[type="submit"]:hover, div#quizNav input[type="button"]:hover
{
	border: 1px solid #bababa;
	cursor: pointer;
	color: #444444;
}

div#quizError, div#quizResults
{
	background: #AC0000;
	color: #FFFFFF;
    display: block;
    font-size: 11px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
}

div#quizResults
{
	color: #111111;
    font-size: 14px;
    text-align: left;
	border: 1px solid #dedede;
	background: #eeeeee;
}

h4#questionNumberStatus, h4#quizQuestion
{
	color: #333333;
	line-height: 22px;
	text-align: center;
}

h4#quizQuestion
{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}

div#quizProgressBar
{
	margin-top:5px;
	margin-bottom: 5px;
	border: 1px solid #dedede;
}

div#quizProgressBar div#quizProgressBarFill
{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #eeeeee;
}

div#quizProgressBar div#quizProgressBarFill div#quizProgressBarPercent
{
	color: #333333;
	text-align: center;
	text-indent: 5px;
}

div.answerItem
{
	padding: 6px;
}

div.answerItemCol1
{
	padding-top: 2px;
	margin-right: 4px;
}

div.answerItemCol2
{
	width: 560px;
}

div.answerItemCol1, div.answerItemCol2
{
	float: left;
}

div.answerItem label:hover
{
	color: #111111;
	cursor: pointer;
}

div#quizQuestionPrevious, div#quizQuestionNext
{
	float:left;
	padding:5px;
	color: #333333;
}
/*wieszjak_quiz_fobos - stop*/

p.entryItem
{
	display: none;
	margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: left;
}

/*galleryNavigation - start*/
div#galleryNavigation
{
	color: gray;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	width: 640px;
}

div#galleryNavigation a
{
	color: grey;
}

div#galNavLeft
{
	float: left;
	width: 150px;
}

div#galNavCenter
{
	float: left;
	width: 340px;
}

div#galNavRight
{
	float: left;
	width: 150px;
}

div#galNavLeft a.prev
{
	height: 25px;
	display: block;
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/gallery_next_prev.png') no-repeat left -30px;
	line-height: 24px;
}

div#galNavRight a.next
{
	height: 25px;
	display: block;
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/gallery_next_prev.png') no-repeat right 0px;
	line-height: 24px;
}
/*galleryNavigation - stop*/

/* przewijak ebokow na str. glownej - start */

div#bookCarousel
{
	overflow-x:hidden;
	/*overflow-y:hidden;*/
	width: 180px;
	height: auto/*202px*/;
	float: left;
}

div#bookCarousel div.container
{
	width: 10000px;
	margin-left: -180px;
}

div#bookCarousel div.bookItem
{
	float: left;
	text-align: center;
	width: 180px;
}

div#bookCarousel div.bookItem span.price 
{
    color: #629419;
    font-weight: bold;
}

div#bookCarouselnavLeft, div#bookCarouselnavRight
{
	color: #03337B;
	float: left;
	font-size: 30px;
	position: relative;
	top: 37px;
	width: 10px;
}

div#bookCarouselnavLeft:hover, div#bookCarouselnavRight:hover
{
	cursor: pointer;
}

/* przewijak ebokow na str. glownej - stop */

div#advicesCount { width: 290px !important; }
div#advicesCount div { letter-spacing: -0.04em; }

div#carouselMain
{
	width: 670px;
	height: 220px;
	overflow: hidden;
}

div#leftHanger, div#leftHanger:hover
{
	width: 20px;
	height: 30px;
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/l_strzalka_nieaktywna.jpg') no-repeat 0px 0px;
}

div#leftHanger:hover
{
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/l_strzalka_aktywna.jpg') no-repeat 0px 0px;
}

div#leftHanger.kobieta:hover
{
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/l_strzalka_aktywna.jpg') no-repeat 0px 0px;
}

div#rightHanger, div#rightHanger:hover
{
	width: 20px;
	height: 30px;
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/p_strzalka_nieaktywna.jpg') no-repeat 0px 0px;
}

div#rightHanger:hover
{
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/p_strzalka_aktywna.jpg') no-repeat 0px 0px;
}

div#rightHanger.kobieta:hover
{
	background: url('http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/p_strzalka_aktywna.jpg') no-repeat 0px 0px;
}

div#leftHanger.zdrowie, div#rightHanger.zdrowie, div#leftHanger.kobieta, div#rightHanger.kobieta
{
	float: left;
	position: relative;
	top: 70px;
}

div#centerHanger
{
	height: 204px;
	width: 629px;
	float: left;
	overflow: hidden;
}

/* Mały formularz do wyszukiwarki googla w prawym górnym rogu - START */

/*Zakładki*/
#gSearchForm .tab1, #gSearchForm .tab2 {position: absolute; top: -18px; background: #646464; color: white; text-align: center; line-height: 16px; cursor: pointer; height: 17px;}
#gSearchForm .tab1 {left: -1px; width: 96px; border-bottom: 5px solid #b0b0b0; -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}
#gSearchForm .tab2 {left: 95px; width: 108px; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}
#gSearchForm .tab1.selected, #gSearchForm .tab2.selected {background: #b0b0b0; font-weight: bold;} 

#gSearchForm {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #b0b0b0; border: 1px solid #b0b0b0;padding:11px 10px 14px 11px;position:absolute;margin-top:0;right:0;}
#gSearchForm table {border-collapse: collapse; height: auto; width: 300px;}
#gSearchForm input.submit {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/prawo/img/sprite_2.png) no-repeat scroll 51px -121px #C83001; height: 25px; border: 0; margin: 0; color: white; padding: 0 33px 1px 0px; width: 90px; font-size: 14px; font-weight: bold; }
#gSearchForm input.submit:hover {background-color: #e83001;  cursor: pointer;}
#gSearchForm .query {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/_img/search/queryInputBG.gif) no-repeat 1px 1px; width: 211px; padding: 0;}
								
#gSearchForm .query input {background: url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/prawo/img/sprite_2.png) no-repeat scroll 61px 3px transparent; width: 200px; border: 0; border-top: 1px solid #515151; border-left: 1px solid #8a8a8a; height: 24px; padding: 0 5px; color: black; line-height: 24px;}
#gSearchForm .query input.noBG {background: transparent}
#gSearchForm .query input.active {background: transparent}
#gSearchForm .query input::selection {background: #316AC5; color: white;}
#gSearchForm .query input::-moz-selection {background: #316AC5; color: white;}
#gSearchForm td.btn{width: 94px; padding-left: 4px;}


/* Mały formularz do wyszukiwarki googla w prawym górnym rogu - STOP */

/*strefa premium*/
.goldGradientBtn {cursor:pointer;background: rgb(218,182,71);background: -moz-linear-gradient(top, rgba(218,182,71,1) 0%, rgba(198,155,46,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,182,71,1)), color-stop(100%,rgba(198,155,46,1)));background: -webkit-linear-gradient(top, rgba(218,182,71,1) 0%,rgba(198,155,46,1) 100%);background: -o-linear-gradient(top, rgba(218,182,71,1) 0%,rgba(198,155,46,1) 100%);background: -ms-linear-gradient(top, rgba(218,182,71,1) 0%,rgba(198,155,46,1) 100%);background: linear-gradient(top, rgba(218,182,71,1) 0%,rgba(198,155,46,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dab647', endColorstr='#c69b2e',GradientType=0 );}
.greyGradientBtn {background: rgb(150,149,149);background: -moz-linear-gradient(top, rgba(150,149,149,1) 0%, rgba(111,111,111,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,149,149,1)), color-stop(100%,rgba(111,111,111,1)));background: -webkit-linear-gradient(top, rgba(150,149,149,1) 0%,rgba(111,111,111,1) 100%);background: -o-linear-gradient(top, rgba(150,149,149,1) 0%,rgba(111,111,111,1) 100%);background: -ms-linear-gradient(top, rgba(150,149,149,1) 0%,rgba(111,111,111,1) 100%);background: linear-gradient(top, rgba(150,149,149,1) 0%,rgba(111,111,111,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969595', endColorstr='#6f6f6f',GradientType=0 );}
.pdf {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-pdf.png) no-repeat 5px 2px;}		
.doc {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-doc.png) no-repeat 5px 2px;}
.download {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-pobierz.png) no-repeat 5px 2px;}
.send {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/ico-wyslij.png) no-repeat 5px 2px;}
.premiumBtn{height:24px;color:white;border-radius:5px;padding:0 0 0 0;font-weight:bold;}

.premiumBtn div{padding:5px 13px 0 33px;height:19px;}
.premiumBtn.noIco div{padding:5px 13px 0;}
#bottomPart {background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/premium-triangle.jpg) 202px -3px no-repeat;height:37px;padding:0;}
#bottomPart .leftCorner{border-radius: 0 0 0 5px;width:177px;background:#C99F31;height:33px;color:white;padding:5px 0 0 25px;}
#bottomPart .leftCorner a {color:white;font-weight:bold;text-decoration:none;}
#bottomPart .leftCorner a:hover{text-decoration:underline;}
#topPart {padding-left:200px;min-height:85px;background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/premium-logo.png) no-repeat 14px 10px;}
#topPart .buttons {padding:15px 0 0 70px;}
#topPart .buttons.paddT50{padding-top:50px;}
#topPart .buttons a {color:white;text-decoration:none;display:block;}
#topPart .desc {color:#C99F31;font-weight:bold;padding:10px 0;border-bottom:1px solid #868686;}
#topPart .action{padding:10px 0 10px 0px;}
.strefaPremiumStep.mini #topPart {min-height:64px;background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/premium-logo-mini.png) no-repeat 14px 10px;}
#strefaPremium {background:white;}
#strefaPremium .strefaPremiumStep {font-family:Arial;border-radius:5px;-moz-border-radius:5px;border:1px solid #C99F31;padding-right:15px;}
#strefaPremium a.black {color:black;text-decoration:underline ;}

#subscribeNLbox{font-family:Arial;padding:32px 0 0 15px;width:286px;height:49px;background-color:#B5B5B5;background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter.png);}
#subscribeNLbox.biznes{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-biznes.png);}
#subscribeNLbox.dom{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-dom.png);}
#subscribeNLbox.kobieta{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-kobieta.png);}
#subscribeNLbox.moto,#subscribeNLbox.video{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-moto.png);}
#subscribeNLbox.prawo{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-prawo.png);}
#subscribeNLbox.zdrowie{background-image:url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/box-newsletter-zdrowie.png);}
#subscribeNLbox input{border:0;width:202px;height:19px;padding-left:2px;}
#subscribeNLbox .btn{cursor:pointer;font-weight:bold;padding-top:1px;color:white;text-align:center;width:75px;height:21px;}
#seeAllNLBtn{width:147px;height:18px;margin-left:133px;cursor:pointer;text-align:center;padding-top:5px;}
#seeAllNLBtn a{font-size:11px;color:white;text-decoration:none;}
#seeAllNLBtn a:hover{text-decoration:underline;}

#forumSubscribeNLbox .btn{font-weight:bold;cursor:pointer;text-align:center;width:75px;height:24px;background: #94da3b;background: -moz-linear-gradient(top, #94da3b 0%, #538603 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94da3b), color-stop(100%,#538603));background: -webkit-linear-gradient(top, #94da3b 0%,#538603 100%);background: -o-linear-gradient(top, #94da3b 0%,#538603 100%);background: -ms-linear-gradient(top, #94da3b 0%,#538603 100%);background: linear-gradient(top, #94da3b 0%,#538603 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94da3b', endColorstr='#538603',GradientType=0 );}
#forumSubscribeNLbox .btn a{display:block;color:white;}
#forumSubscribeNLbox{background:url(http://pl-2.lh/subd-g/p/pl-2.lh/forum/_i/sprite-forum.png) no-repeat 7px -127px #E1E1E1;height:28px;width:252px;font-family:Arial;padding:4px 4px 0 44px;line-height:24px;}
#forumSubscribeNLbox.zdrowie{background-position: 7px 1px;}
#forumSubscribeNLbox.zdrowie .btn{background: #3087d4;background: -moz-linear-gradient(top, #3087d4 0%, #054896 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3087d4), color-stop(100%,#054896));background: -webkit-linear-gradient(top, #3087d4 0%,#054896 100%);background: -o-linear-gradient(top, #3087d4 0%,#054896 100%);background: -ms-linear-gradient(top, #3087d4 0%,#054896 100%);background: linear-gradient(top, #3087d4 0%,#054896 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3087d4', endColorstr='#054896',GradientType=0 );}
#forumSubscribeNLbox.moto{background-position: 7px -31px;}
#forumSubscribeNLbox.moto .btn{background: #b31c21;background: -moz-linear-gradient(top, #b31c21 0%, #6b090a 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b31c21), color-stop(100%,#6b090a));background: -webkit-linear-gradient(top, #b31c21 0%,#6b090a 100%);background: -o-linear-gradient(top, #b31c21 0%,#6b090a 100%);background: -ms-linear-gradient(top, #b31c21 0%,#6b090a 100%);background: linear-gradient(top, #b31c21 0%,#6b090a 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31c21', endColorstr='#6b090a',GradientType=0 );}
#forumSubscribeNLbox.dom{background-position: 7px -63px;}
#forumSubscribeNLbox.dom .btn{background: #d85625;background: -moz-linear-gradient(top, #d85625 0%, #a74015 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d85625), color-stop(100%,#a74015));background: -webkit-linear-gradient(top, #d85625 0%,#a74015 100%);background: -o-linear-gradient(top, #d85625 0%,#a74015 100%);background: -ms-linear-gradient(top, #d85625 0%,#a74015 100%);background: linear-gradient(top, #d85625 0%,#a74015 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d85625', endColorstr='#a74015',GradientType=0 );}
#forumSubscribeNLbox.kobieta{background-position: 7px -95px;}
#forumSubscribeNLbox.kobieta .btn{background: #a70550;background: -moz-linear-gradient(top, #a70550 0%, #8a0c49 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a70550), color-stop(100%,#8a0c49));background: -webkit-linear-gradient(top, #a70550 0%,#8a0c49 100%);background: -o-linear-gradient(top, #a70550 0%,#8a0c49 100%);background: -ms-linear-gradient(top, #a70550 0%,#8a0c49 100%);background: linear-gradient(top, #a70550 0%,#8a0c49 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70550', endColorstr='#8a0c49',GradientType=0 );}
#forumSubscribeNLbox.kuchnia{background-position: 7px -127px;}
#forumSubscribeNLbox.kuchnia .btn{}
#forumSubscribeNLbox.biznes{background-position: 7px -159px;}
#forumSubscribeNLbox.biznes .btn{background: #a23a3b;background: -moz-linear-gradient(top, #a23a3b 0%, #842223 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a23a3b), color-stop(100%,#842223));background: -webkit-linear-gradient(top, #a23a3b 0%,#842223 100%);background: -o-linear-gradient(top, #a23a3b 0%,#842223 100%);background: -ms-linear-gradient(top, #a23a3b 0%,#842223 100%);background: linear-gradient(top, #a23a3b 0%,#842223 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a23a3b', endColorstr='#842223',GradientType=0 );}
#forumSubscribeNLbox.prawo{background-position: 7px -191px;}
#forumSubscribeNLbox.prawo .btn{background: #0b8b34;background: -moz-linear-gradient(top, #0b8b34 0%, #046424 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b8b34), color-stop(100%,#046424));background: -webkit-linear-gradient(top, #0b8b34 0%,#046424 100%);background: -o-linear-gradient(top, #0b8b34 0%,#046424 100%);background: -ms-linear-gradient(top, #0b8b34 0%,#046424 100%);background: linear-gradient(top, #0b8b34 0%,#046424 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b8b34', endColorstr='#046424',GradientType=0 );}
 


.greenBorder .content {
    background-color: #FFFFFF;
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
}
.greenBorder .content.noBorder {
    border: medium none;
}
.greenBorder .box_title, .greenBorderTabs .box_title {
    background: none repeat scroll 0 0 #87B338;
    color: white;
    line-height: 10px;
    padding: 0 10px 6px;
}
.greenBorder .box_title a, .greenBorderTabs .box_title a {
    color: white;
}
.greenBorder .box_title span, .greenBorderTabs .box_title span {
    font-weight: normal;
}
.greenBorder .cornertr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 -10px transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBorder .cornertl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% -10px transparent;
    height: 5px;
    line-height: 1px;
}
.greenBorder .cornerbr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 -35px transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBorder .cornerbl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% -35px transparent;
    height: 5px;
    line-height: 1px;
}
.greenBorderTabs .cornertr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBorderTabs .cornertl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% 0 transparent;
    height: 5px;
    line-height: 1px;
}
.greenBorderTabs .selected .cornertr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 -10px transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBorderTabs .selected .cornertl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% -10px transparent;
    height: 5px;
    line-height: 1px;
}
.greenBorderTabs h2.box_title {
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #87B338;
    border-right: 1px solid #87B338;
    color: black;
    width: 145px;
}
.greenBorderTabs .selected h2.box_title {
    background: none repeat scroll 0 0 #87B338;
    color: #FFFFFF;
}
.greenBG .content {
    background-color: #87B338;
}
.greenBG .box_title {
    background: none repeat scroll 0 0 #87B338;
    color: white;
    line-height: 10px;
    padding: 0 10px 6px;
}
.greenBG .cornertr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 -10px transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBG .cornertl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% -10px transparent;
    height: 5px;
    line-height: 1px;
}
.greenBG .cornerbr {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 0 -15px transparent;
    height: 5px;
    line-height: 1px;
    padding-left: 10px;
}
.greenBG .cornerbl {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/kuchnia_corners.png") no-repeat scroll 100% -15px transparent;
    height: 5px;
    line-height: 1px;
}
#dish_search_form .content {
    padding-bottom: 5px;
    padding-top: 0;
}
#dish_search_form .content td.btn {
    width: 100px;
}
td.dish_search_form_small input.szukajBtnGreenBg2 {
    margin-left: 4px;
}
#dish_search_form .content #additional select {
    width: 185px;
}
table.dish_search_form_small {
}
#dish_search_form #basic div.input, #dish_search_form #basic div.input input {
    width: 344px;
}
#dish_search_form table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 95%;
}
#dish_search_form #basic div {
    background: none repeat scroll 0 0 white;
    border: 1px solid white;
    line-height: 18px;
    width: 530px;
}
#dish_search_form #basic input.search_text {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #747474 #E8E8E8 #E8E8E8 #747474;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0;
    width: 528px;
}
#dish_search_form #basic.dish_search_form_small div {
    background: none repeat scroll 0 0 white;
    border: 1px solid white;
    left: 2px;
    line-height: 18px;
    position: relative;
    width: 198px;
}
#dish_search_form #basic.dish_search_form_small input.search_text {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #747474 #E8E8E8 #E8E8E8 #747474;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0;
    width: 198px;
}
#dish_search_form #additional {
    margin-top: 5px;
}
#dish_search_form #additional td {
    padding: 3px;
    text-align: left;
    width: 35%;
}
#dish_search_form #additional select {
    width: 200px;
}
#dish_search_form input.defaultTextActive {
    color: #999999;
}
#dish_search_form #additional td.label, #dish_search_form #additional label {
    color: white;
    font-size: 11px;
    width: 15%;
}
#dish_search_form #additional.dish_search_form_small td.label, #dish_search_form #additional label {
    color: white;
    font-size: 11px;
    padding-bottom: 0;
    width: 15%;
}
#dish_search_form #additional label {
    padding-top: 2px;
}
#dish_search_form #additional td.chBox {
    width: 20px;
}

td.dish_search_form_small input.szukajBtnGreenBg2 {
    margin-left: 4px;
}

.szukajBtnGreenBg2 {
    background: url("http://pl-2.lh/subd-g/p/pl-2.lh/_css/kuchnia/img/buttons/szukaj.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 32px;
    width: 74px;
}
#dish_search_form2{background:url(http://pl-2.lh/subd-g/p/pl-2.lh/_css/kuchnia/img/wyszukiwarka-gotujmy.jpg);width:299px;height:123px;font-family:Arial;}
#dish_search_form2 .lab{color:white;font-size:16px;line-height:26px;padding-left:14px;font-weight:bold;}
#dish_search_form2 .inp{padding:39px 0 0 16px;width:202px;}
#dish_search_form2 .btn{cursor:pointer;text-align:center;padding-top:31px;width:69px;height:36px;color:white;font-size:15px;line-height:34px;}
#dish_search_form2 input{font-size:14px;border:0;width:190px;}