html#bbtPage body .bbtext a.intextPodtrzeni {border-bottom:1px solid #22418F !important;color: #22418F !important;cursor:pointer;display:inline;float:none;margin:0;padding:0 0 1px;text-decoration:underline !important;font-weight:bold;}

.pn_contener {border: solid #CACACA; border-width: 0 1px; padding: 5px 0 0 0;}
.pn_content {padding: 2px 5px 2px 20px; background: #ebebeb;}
.pn_content a {color: black;}
.pn_content a.selected {color: #740A3B; font-weight: bold;}

.encyklopediaZdrowia div.section {
    margin: 15px 0;
}

.encyklopediaZdrowia div.section > span:first-child {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

#article {font-size: 12px; border: 0;}
#article h1 {font-size: 18px; color: #01337c; line-hegith: 24px; padding: 5px 0;min-height:1px;}
#article .lead {padding: 0;min-height:1px;}
#article div.lead {padding:5px 0; line-height:1.2em; font-weight: bold; font-size: 1.2em}

#article img {padding: 5px;}
#article .tags {padding: 5px 0;min-height:1px;}
#article .tags a {text-decoration: underline; font-weight: normal; margin-left: 10px;}
#article .tags .label {font-weight: bold;}
#article .articleAuthor {padding: 5px 0;}
#article .articleAuthor ul {list-style: none;}
#article .signature {text-align: center; padding: 5px;}
#article .pagesInfo {color: #676767; text-align: right;}
#article .pagesInfo a {color: #676767; font-size: 1.3em;}
#article .pagesInfo a:hover {text-decoration: none;}
#article .articleAuthor ul li {}

#article .articleDate {font-size: 0.8em; text-align: right;}
#article .superscription {font-weight: normal;}

#article .galnav {margin: 0 auto; color: gray; font-size: 13px; line-height: 26px;}
#article .galnav a {font-weight: bold; color: gray; display: inline-block; height: 30px; line-height: 26px;}
#article .galnav a.next {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/gallery_next_prev.png) no-repeat 100% 0 ; padding-right: 20px;}
#article .galnav a.prev {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/gallery_next_prev.png) no-repeat 0 -30px ; padding-left: 20px;}

#article .backToArticle {color: gray; font-size: 14px; font-weight: normal;}
#article .backToArticle a {font-size: 12px; font-weight: normal; display: inline; color: gray;}

.artMainTabs {height: 30px; margin-top: 5px; /*background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/border_dot.png) repeat-x 0 100%;*/}
.artMainTabs table {border-collapse: collapse; width: 100%;}
.artMainTabs a {height: 30px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/top_tabs.png) no-repeat -153px 0; display: block; margin-right: 4px; color: black; padding-left: 16px; float: left; color: black;}
.artMainTabs a img {float: left;}
.artMainTabs a.art_body img {margin: 6px 3px 3px 0;}
.artMainTabs a.art_gallery img {margin: 8px 3px 3px 0; float: left;}
.artMainTabs a span {float: left; height: 30px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kuchnia/top_tabs.png) no-repeat 100% 0; line-height: 30px; display: block; text-align: center; font-size: 12px; padding-right: 16px;}
.artMainTabs a:hover {color: #740A3B;}
.artMainTabs a.selected {background-position: -153px -30px; color: black;}
.artMainTabs a.selected span {background-position: 100% -30px;}

#article {padding: 5px; background: white;}
#article a {color:#194C8A; font-weight:bold; text-decoration:none;}
#article a:hover {text-decoration:underline;}
#article p {margin: 6px 0 6px 0;}
#article ol {padding-left: 15px; list-style:decimal inside;}
#article ul {padding-left: 15px; list-style:disc inside;}
#article ol li{}
#article ul li{}

#photosMenu {margin-top: 5px;}
#photosMenu ul {list-style:none; margin-top: 0px;}
#photosMenu ul li {height:104px; width: 104px; border: 1px solid black; float: left; text-align: center; margin-right: 10px;}
#photosMenu ul li table {border-collapse:collapse; width: 100%; height: 104px;}
#photosMenu img {max-width: 100px; max-height: 100px;}

#article table.expert {margin:20px 0 0; border-collapse:collapse; width:100%;}
#article table.expert img {margin-right:15px; max-height:60px;}
#article table.expert .expertName {font-weight:bold;font-size:13px;margin-bottom:10px;}
#article table.expert .expertLead {font-size:11px;}
#article table.expert .expertName a {color:#004179;}
#article table.expert .expertLead a {color:#000000;font-weight:normal;}
#article table.expert .expertName a:hover, table.expert .expertLead a:hover {text-decoration:underline;}

.tresc-main h1 {margin: 10px 0 20px 0; padding: 0; font-size: 18px; font-family: Tahoma, sans-serif; line-height: 24px; background-color: #EEEEEE; overflow: show; height: auto;}
.tresc-main h2 {margin: 10px 0; padding: 0; font-size: 14px; background-color: #EEEEEE; overflow: show; height: auto;}
.tresc-main h3 {margin: 0; padding: 10px 0; font-size: 12px; background-color: #FFFFFF; overflow: show; height: auto;}
.tresc-main p {margin: 10px 0;}
.tresc-main{color: black;font-size:12px;line-height:1.4em;border:0;text-align:justify;min-height:1px;}
.tresc-main table{border-color:#DDDDDD;}
.tresc-main table caption{font-size: 12px;}
.tresc-main table tr td{border-color:#DDDDDD;padding:3px; border: 1px solid gray; text-align:left;}
.tresc-main table tr th{border-color:#DDDDDD;padding:3px; border: 1px solid gray; background: #EEEEEE; text-align:left;}
.tresc-main table.noBorder tr td{ border: none;}
.tresc-main ul{margin-left:15px; list-style:disc inside; margin-bottom: 5px;}
.tresc-main ul li p {display: inline; margin: 0; padding: 0;}
.tresc-main ul li ul{margin-left:15px; list-style:circle inside; margin-bottom: 2px;}

.tresc {font-size:12px; font-weight:normal; line-height:1.4em;}
.srodtyt, .srodtyt1  {padding:10px 0; font-weight:bold; }

p.wypunktowanie { margin:10px 0; color:#128cbb; font-weight:bold;}
p.wypunktowanie span {border:4px solid #A4A9AD; padding:3px 4px;}
.wazne { background:#fff url('_img/wazne.gif') no-repeat 10px 0; padding:40px 10px 10px; display:table;}
.przyklad { background:#fff url('_img/przyklad.gif') no-repeat 10px 0; padding:40px 10px 10px; display:table;}
.wysrodkowany {text-align: center;}
.wysrodkowany img, .wysrodkowany table{margin: 0 auto;}

p.definicja {background:#FFFFFF url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/definicja.png) no-repeat 0 0; padding:55px 10px 10px; border:1px solid #b8b8b8;}
p.twierdzenie {background:#FFFFFF url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/twierdzenie.png) no-repeat -3px 0; padding:55px 10px 10px; border:1px solid #b8b8b8;}
p.linkowanie {padding:5px 5px 5px 30px; border:0; display: table;}

/* Style do dolnej czesci artykułu - Jacek Kadziela - 10 marca 2010 */
#article .related_content {margin: 3px 0; width: 100%; border-collapse: separate; border-spacing: 5px; border: 1px solid #e8e8e8; border-width: 1px 0;}
#article .related_content td {width: 50%; border-left: 1px solid #e8e8e8; padding: 0 0 0 5px; vertical-align: top; text-align: left;}
#article .related_content td.first {padding: 0; border: 0; width: auto;}
#article .related_content td.right {padding: 0; border: 0; width: auto; text-align: right;}
#article .related_content td.middle {vertical-align: middle;}
#article .related_content td h3 {padding: 2px 0;}
#article .related_content a {color:#444444; font-weight:normal;}
#article .related_content ul {list-style:none outside none; margin:0; padding:0;}
#article .related_content ul li {background: transparent url("http://pl-2.lh/subd-g/p/pl-2.lh/_i/related_content_arrow.gif") no-repeat 0 8px; padding:5px 0 5px 12px;}

#article_rating .vote_contener {float:right; font-size: 11px; width: 270px;}
#article_rating .vote {}
#article_rating .star {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/star.gif) no-repeat 0 0; width: 16px; height: 16px; margin-top: 4px; float: left; cursor: pointer;}
#article_rating .dark_star {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/_i/star.gif) no-repeat 0 -16px; width: 16px; height: 16px; margin-top: 4px; float: left;}
#article_rating .wbl {clear: left; display: none;}
#article_rating .rbl {float: right; text-align: right;}
#article_rating .lbl {float: left;}
#article_rating .lblt {float: left;}
#article_rating .lblt2 {float: left;}
#article_rating h4 {display: inline;}

/* formatowanie boksa oceniania artykulu - Mateusz Komarnicki - 11 czerwca 2010 */
div.clear
{
	clear: both !important;
}

div#notLoggedAfterVote
{
	color: #ff0000;
}

/* KOMENTARZE - START */

#comments {overflow: hidden;}
#comments .comment {border-collapse: collapse; width: 100%; background: #E3E3E3}
#comments .comment td {vertical-align: top; padding: 5px 5px 5px 0;}
#comments .comment td.avatar {padding: 5px 8px; width: 50px;}
#comments .comment td.avatar img {padding: 0;}
#comments .comment div.commentIntro {color: #6E6E6E; font-size: 11px; padding: 0;}
#comments .commentsHeader {border: 0; margin: 3px 0; background: white;}
#comments .commentsHeader .countInfo {font-size: 12px; line-height: 38px; font-weight: bold; padding: 2px 0;}
#comments .commentsHeader button {border: 0; padding: 5px; margin: 0; background: white; float: right; cursor: pointer;}
#comments .commentsHeader button:hover {}
#comments .comment form table {width: 100%; border-collapse: collapse;}
#comments .comment form table td {padding: 1px;}
#comments .comment form table td.label {width: 70px; padding-right: 5px;}
#comments textarea {border: 1px solid #B0B0B0; height: 100px; width: 100%;}
#comments input.nick {border: 1px solid #B0B0B0}
#comments .addCommentButton {background: url("_img/addComment.png") no-repeat scroll center bottom transparent; border: 0 none; cursor: pointer; height: 36px; width: 168px; display: block; margin: 0 0 0 auto; color: #194C8A; font-weight: bold;}
#comments .addCommentButton:hover {text-decoration: underline;}
#comments .commentsHeader button img {border: 0; padding: 0; margin: 0;}
#comments .comment div.commentContent {font-size: 12px; margin: 7px 0; padding: 0;}
#comments .newComment {border: 1px solid #B0B0B0; padding: 5px 20px 10px 5px;}
#comments .spacer {border-top: 1px solid white; margin: 0 5px;}
#comments .threadLink {display: block; text-align: right; background: #E3E3E3;}

/* KOMENTARZE - STOP */

/* OBRAZEK POD LEADEM - START */
#article .thumbnail {background: #f8f6f7; float: left; border: 1px solid #b9b9b9; margin: 0 10px 10px 0; max-width: 200px; overflow: hidden; padding: 5px;}
#article .thumbnail .mainPic {text-align: center;}
#article .thumbnail .mainPic a {}
#article .thumbnail .mainPic img {margin: 0; padding: 0;}
#article .thumbnail .mainPic .desc {font-size: 0.8em; padding: 5px 0 0 0; text-align: left; color: #666666;}
#article .thumbnail .videoDesc {font-size: 0.8em; padding: 5px 0 0 0; text-align: left; color: #666666;}
#article .thumbnail .videoThumb { position: relative; display: block; text-align: center; margin: 0 auto; width: 120px; }
#article .thumbnail .more {padding: 5px 0 0 0; display: block; font-weight: normal; font-size: 0.8em;}
#article .thumbnail .more strong {font-size: 1.2em;}
/* OBRAZEK POD LEADEM - STOP */

input.btn_zaloguj {border: 0; background: url(http://pl-2.lh/subd-g/p/pl-2.lh/biznes/_i/zaloguj-red.png	) no-repeat scroll bottom; width: 81px; height: 23px; cursor: pointer;padding-top: 2px;}

/*Komentarze pod artykulem*/
.dodane-koment {padding: 10px 0;}
.dodane-koment h4 {color: grey;}
td.borderTop {border-top: 1px solid rgb(210,210,210);}
.submit {background-color:#E0E0E0; border:1px solid #9D9D9D;margin-bottom:10px; padding:0 4px; width:auto;}
div.commentIntro { font-size: 11px;  padding: 5px; color:rgb(110,110,110); }
#article .commentContent {font-size: 12px; margin: 7px 0 7px 0; padding: 5px;}
#article .commentContent a {font-weight: normal;}
div.form-container {background-color:#F8F8F8; border:1px solid #DEDEDE; margin:5px; padding:5px;}
.commentsSelectedOffset { background-color:#0E4051; color: white;}
.commentsOffset { border:1px solid #C8C8C8; float:left; margin-left:3px; padding:2px 3px; position:relative; cursor:pointer; }
.offsetFrame {border-top: 1px solid rgb(220,220,220); width: 100%; padding-top: 10px;}


.articleOptions {margin: 0 0 5px 0; line-height: 24px;}
.articleOptions img {margin-right:3px; cursor:pointer;}
.articleOptions img.last {margin:0;}
#addToFacebook {width: 84px; height: 25px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/article_icons.png) no-repeat 0 0; float: left; margin-right:3px; cursor: pointer; padding: 0;}
#favorites {width: 74px; height: 25px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/article_icons.png) no-repeat -87px 0; float: left; margin-right:3px; cursor: pointer; padding: 0;}
#recomend {width: 66px; height: 25px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/article_icons.png) no-repeat -165px 0; float: left; margin: 0 3px 0 0; padding: 0; display: block; text-decoration: none;}
#recomend:hover, #addToFacebook:hover {text-decoration: none;}
#print {width: 66px; height: 25px; background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/article_icons.png) no-repeat -235px 0; float: left; cursor: pointer;}
.articleFontChangeIco {background: transparent url(http://pl-2.lh/subd-g/p/pl-2.lh/kobieta/article_icons.png) no-repeat; width:31px; height:19px;float:left;margin-right:3px; padding: 6px 0 0 1px;}
.articleFontChangeIco span {display:block; float:left; line-height: 10px; font-weight: bold; color: #740A3B; text-align: center; cursor: pointer;}
.articleFontChangeIco span:hover {text-decoration: underline;}
.articleFontChangeIco .min {font-size:10px; padding-top: 2px;}
.articleFontChangeIco .med {font-size:12px; padding-top: 1px;}
.articleFontChangeIco .max {font-size:14px;}

ul.photoMenu {margin-top:5px;}

li.galleryIcon {
float:left;
height:110px;
width:110px;
margin-right:10px;
margin-top: 10px;
border:1px solid white;
}
li.galleryIcon.selected {
background:none repeat scroll 0 0 #E1E1E1;
border:1px solid #C8C8C8;
height:110px;
width:110px;
}
#article li.galleryIcon img {padding: 0;}
li.galleryIcon:hover {
background:none repeat scroll 0 0 #EBEBEB;
}
li.galleryIcon table {
height:100px;
margin:0 auto;
width:100px;
}

/* modyfikacja obrazka do artykulu - prosba anety */
a.gp-galeria-small img {max-width: 50px; max-height: 50px; border: 1px solid #8D8E89;}

a.gp-galeria img
{
	max-width: 190px;
	max-height: 190px;
}

#article .lightBorder
{
	text-align: center;
}

#article .lightBorder div
{
	text-align: left;
}

#favorites a#favoritesArticleLink {background:none;width:72px;height:23px;margin:0;padding:0;}


.share {float: left; font-size: 10px;}


a#addComment
{
	margin-left:60px;
	/*float: right;*/
}

div#thumbnails
{
	margin-bottom:5px;
	margin-top:5px;
}

div.tumbItem
{
	float:left;
	margin-left:9px;
	margin-right:5px;
	width:50px;
}

.popup {
	position:absolute;
	background:white;
	font-size:11px;
	color:#ddd;
	border: 1px solid #E5E5E5;
	border-top: 3px solid gray;
	padding:0 0 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius-:5px 5px 0 0;
	border-radius-:5px 5px 0 0;
	width: 400px;
	/*behavior:url(../PIE.htc);*/
}

.playVideoImage {
	background-image: url("http://pl-2.lh/subd-g/p/pl-2.lh/_css/video/img/av_play.png");
	width: 40px;
	height: 40px;
	position: absolute; 
	top: 26px;
	left: 44px;
}

/* modyfikacja obrazka do artykulu - prosba anety */